<?php echo $header; ?>
<iframe src="../crawlprotect/" width="99%" height="550px" id="testFrame"></iframe>
<script type="text/javascript">
<!--
if (document.getElementById) {
document.write('<button id="history">Back</button>')
document.getElementById('history').onclick = function () {window.frames['testFrame'].history.go(-1)}
}
// -->
</script>
<script type="text/javascript">
<!--
if (document.getElementById) {
document.write('<button id="reload">Reload</button>')
document.getElementById('reload').onclick = function () {testFrame.location.reload(1)}
}
// -->
</script>
<script type="text/javascript">
<!--
if (document.getElementById) {
document.write('<button id="forward">Forward</button>')
document.getElementById('forward').onclick = function () {window.frames['testFrame'].history.go(+1)}
}
// -->
</script>
| Security Control Center.