.top_bg{ background: url('../image/top_bg.jpg') repeat-x;}

.floatRight{ float:right;}

.floatLeft{ float:left;}

.datemenu{ color:#7a9999;}

.datemenu a{ color:#7a9999; text-decoration:none; font-size:12px; padding:2px 2px 0 2px;}

.datemenu a:hover{ color:#7a9999;  text-decoration: underline;}

.flag{ cursor:pointer; padding:0 5px; width:16px; float:left;}

.login{ color:#fff;}

.login a{ color:#fff; text-decoration:none; font-size:12px; padding:2px 2px 0 2px;}

.login a:hover{ color:#fff;  text-decoration: underline;}

.logo{cursor:pointer; outline:none; border:none; padding:5px;}

.srbtn{ background: url(../images/search.png) no-repeat left top; height:40px;
    margin-left: -7px;
    margin-top: -11px;
    outline:none;
    width: 36px; width:36px; border:none;}

.srbtn{ background-position:left bottom;}

.inputSr{ max-width:300px; height:35px; border:none; outline:none; width:223px;}

.margintop42{ margin-top:42px;}

.shop{color:#c0d1ff; float: right; }

.shop a{color:#c0d1ff; text-decoration: none; font-size:12px; background: url(../images/arr.png) no-repeat right 5px; padding: 0 19px;}

.shop a:hover{color:#c0d1ff; text-decoration: underline; font-size:12px;}

.topmenu{ }

.topmenu ul{ margin:0 0 4px 0;  }

.topmenu ul li{ padding:0 0; display:inline; /*float:left;*/}

.topmenu ul li a{ padding:0 0px; color:#fff; text-decoration:none;}

.topmenu ul li a:hover{ padding:0 0px; color:#f07800; text-decoration: underline;}

.ph {
    float: left;
    height: 35px;
}
.ph_icon {
    float: left;
    height: 35px;
    width: 29px; margin:0;
}
.ph_txt {
    color: #c0d1ff;
    float: left;
    
    font-size:20px;
    height: auto;
}
.email {
    float: left;
    height: auto;
    width: 176px;
}
.email_icon {
    float: left;
    height: 14px;
    width: 21px; margin:0;
}
.email_txt {
    color: #c0d1ff;
    float: left;
    font-size: 12px;
    height: auto;
    margin: 0 0 0 10px;
    width: 110px;
}
.email_txt a {
    color: #c0d1ff;
    font-size: 12px;
    text-decoration: none;
}
.email_txt a:hover {
    color: #f07800;
    font-family: Arial;
    font-size: 12px;
    text-decoration: underline;
}

.banbg{ background:url(../image/ban_bg.jpg) repeat-x;}

.itemLister { color:#999;
    border: 1px solid #DCDCDC;
    padding: 8px; margin-left:0 !important;
    vertical-align: top;
	  border-top-left-radius:10px; border-top-right-radius:10px;
    -web-border-top-left-radius:10px; -o-border-top-right-radius:10px; -moz-border-top-right-radius:10px; -khtml-border-top-right-radius:10px;
	-o-border-top-left-radius:10px; -moz-border-top-left-radius:10px; -khtml-border-top-left-radius:10px;
       border-top-left-radius:10px;border-top-right-radius:10px;
	   border-bottom-left-radius:10px; border-bottom-right-radius:10px;
    -web-border-bottom-left-radius:10px; -o-border-bottom-right-radius:10px; -moz-border-bottom-right-radius:10px; -khtml-border-bottom-right-radius:10px;
	-o-border-bottom-left-radius:10px; -moz-border-bottom-left-radius:10px; -khtml-border-bottom-left-radius:10px;
       border-bottom-left-radius:10px;border-bottom-right-radius:10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccdd2', endColorstr='#bfbfc6', GradientType=0);text-align:center;  *zoom: 1;

}


.itemLister a{ text-decoration:none; color:#000; font-size:13px; text-align:center;}

.itemLister a:hover{ text-decoration: underline; color:#000; font-size:13px;}

.itemLister img{ padding:10px;}

.darkBlue{ color:#03267e;}

.btn{   background-color: #eb7600;
/*  border: 1px solid #ddd;
*/  border-bottom-color: transparent;
  background-image: -moz-linear-gradient(top, #eb7600, #c66504);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb7600), to(#c66504));
  background-image: -webkit-linear-gradient(top, #eb7600, #c66504);
  background-image: -o-linear-gradient(top, #eb7600, #c66504);
  background-image: linear-gradient(to bottom, #eb7600, #c66504);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7600', endColorstr='#c66504', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
		  padding:10px 10px;
		  
		  }

.marginLeft{ margin-left:20px !important; margin-bottom:12px;}

.footer_bg{ background:#011039 url(../images/footer_bg.jpg) repeat-x;}

.footerMenu{color:#789bf6;}

.footerMenu h1{ font-size:16px; text-transform:uppercase; line-height:18px;}

.footerMenu ul{ width:100%; margin:0; padding:0; }

.footerMenu ul li{ list-style:none; display:block; background:url(../images/dot.png) no-repeat left 56%; padding:6px 13px;}

.footerMenu ul li a{ text-decoration:none; color:#789bf6; font-size:12px;}

.footerMenu ul li a:hover{ text-decoration:underline; color:#789bf6; font-size:12px;}

.fb{ background:url(../image/fb.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px;}

.fb:hover{ background-position:left bottom;}

.tw{ background:url(../image/tw.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px;}

.tw:hover{ background-position:left bottom;}

.gplus{ background:url(../image/gplus.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px;}

.gplus:hover{ background-position:left bottom;}

.paypal{ width:auto; float:left; cursor: pointer; margin:15px 0 0 0;}

.footer_bot{ background:#000; }

.footer_txt{ color:#a0a0a0; font-size:14px; text-decoration:none; text-align:center; padding:7px;}

.footer_txt a{ color:#a0a0a0; font-size:14px; text-decoration:none;}

.footer_txt a:hover{ color:#a0a0a0; font-size:14px; text-decoration:underline;}    


.box-product > div{min-height: 230px;
border: 1px solid #ccc; border-radius:5px;
padding: 5px;}


