<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
    <div class="box-product">
      <?php foreach ($products as $product) { ?>
      <div>
        <?php if ($product['thumb']) { ?>
        <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
        <?php } ?>
        <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
        <?php if ($product['price']) { ?>
        <div class="price">
        	 <?php if(!$product['startbidid']) {?>
          	<?php if (!$product['special']) { ?>
          	<?php echo $product['price']; ?>
          	<?php } else { ?>
          	<span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
         	<?php } ?>
          <?php }else{ ?>
          <?php echo $text_auction; ?>
          <?php } ?>
          
        </div>
        <?php } ?>
        <?php if ($product['rating']) { ?>
        <div class="rating"><img src="catalog/view/theme/default/image/stars-<?php echo $product['rating']; ?>.png" alt="<?php echo $product['reviews']; ?>" /></div>
        <?php } ?>
		
		
        <div class="cart">
        		<?php if(!$product['startbidid']) {?>
        			<input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" />
        			<?php }else{ ?>
        			<input type="button" value="<?php echo $button_cart; ?>" onclick="location.href='<?php echo $product['href']; ?>'" class="button" />
        		<?php } ?>
        </div>
      </div>
      <?php } ?>
    </div>
  </div>
</div>
