h3{
    padding: 0px;
    margin: 0px;
}
.cats_shadow { box-shadow: 0 0 5px #999; }

.arrowlistmenu_item{
width: 100%; /*width of accordion menu*/
background-color:#fdfdfd;
}

.arrowlistmenu_item .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: bold 14px Arial;
color:#000000;
background-color:#fdfdfd;

background: black url("../ddaccordion/deco/headers.png") repeat-x scroll 0 -688px;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/

padding: 4px 0 4px 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
}

.arrowlistmenu_item .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background: black url("../ddaccordion/deco/headers.png") repeat-x scroll 0 -646px;
color: #FFF;
}

.arrowlistmenu_item ul{ /*CSS for UL of each sub menu*/
color: #333;
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
padding-left: 3px;
padding-right: 3px;
}

.arrowlistmenu_item ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu_item ul li a{
color:#333 ;
background: url(../../img/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
border-bottom: 0px solid #dadada;



}
.arrowlistmenu_item ul li a:visited{
color: #333;
}

.arrowlistmenu_item ul li a:hover{ /*hover state CSS*/
color: #A70303;
text-decoration: none;
background: url(../../img/arrowbullet-active-v3.png) no-repeat center left; /*custom bullet list image*/
background-color: #F3F3F3;
}