<?php
$date_end = date("Y-m-d", strtotime($endbidtime));
if($date_end != "0000-00-00"){
$date = explode("-",$date_end);
	echo '
	<div style="font-size:1.0em;">       	
		<script language="JavaScript">
			TargetDate = "'.$date[1].'/'.$date[2].'/'.$date[0].'";
			BackColor = "white";
			ForeColor = "green";
			CountActive = true;
			CountStepper = -1;
			LeadingZero = true;
			DisplayFormat = "%%D%% d %%H%% h %%M%% m %%S%% s";
			FinishMessage = "Bidding don`t have expiration date!";
		</script>
		<script language="javascript" src="catalog/view/javascript/countdown/countdown.js"></script>
	</div>
	';  
} ?> 