@media screen and (max-width: 960px) {
#supermenu {
  height: auto;
	background-image: url('supermenu-bg2.png');
  display: inline-block;
  width: 100%;
  padding: 0px;
}
#supermenu > ul {
  padding-left: 5px;
  padding-right: 5px;
}
#supermenu ul li.tlli.mkids {
  background: url('mkid.png') right center no-repeat;
  padding-right: 0px;
}
#supermenu ul li.tlli .bigdiv {
  width: 210px !important;
}
#supermenu ul li.tlli .bigdiv .supermenu-left {
  width: 200px !important;
}
#supermenu ul li div .menu-add {
  display: none;
} 
#supermenu ul li div .withimage .image img {
  width: 35px;
  height: 35px;
}
#supermenu ul li div .withimage .image { 
  float: left;
  margin-right: 10px;
}
#supermenu ul li div .withimage {
 min-height: 45px;
}
.child-level {
  display: none;
}
}
@media screen and (max-width: 500px) {
#supermenu {
  display: none;
}
#supermenu-mobile {
	background-image: url('supermenu-bg.png');
	background-color: #292929;
	height: 40px;
	display: block;
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 5px;
}
#supermenu-mobile ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#supermenu-mobile ul li.tlli {
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 20;
}
#supermenu-mobile ul li.tlli:hover {
	z-index: 100;
}
#supermenu-mobile ul li a.tll {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 13px 10px 13px 10px;
	z-index: 6;
	position: relative;
	text-shadow: 0 0 1px #111;
}
#supermenu-mobile ul li.tlli:hover a.tll {
	background: #494949;
}
#supermenu-mobile ul li div.bigdiv {
	display: none;
	background: #494949;
	position: absolute;
	z-index: 5;
	padding-top: 5px;
	padding-bottom: 15px;
	width: 100%;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 0px 3px 3px #111;
	-moz-box-shadow: 0px 3px 3px #111;
	box-shadow: 0px 3px 3px #111;
}
#supermenu-mobile  ul  li  div .withoutchild .withchild a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	vertical-align: top;
} 
#supermenu-mobile  ul  li  div  .withchild {
    display: block;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #555;
	margin-top: 10px;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
#supermenu-mobile  ul  li  div  .withchild a.theparent {
    color: #fff;
	background: #444;
	border-bottom: 1px solid #333;
	display: block;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}
#supermenu-mobile  ul  li  div .withoutchild .withchild a:hover {
    background: #333;
}
}