#supermenu {
	background-image: url('supermenu-bg.png');
	background-color: #292929;
	height: 40px;
	/*margin-bottom: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;*/
	padding: 0px 5px;
		
     *zoom: 1;      
  background-color: #2e3854;
  *background-color: #0f0d02;
  background-image: -moz-linear-gradient(top, #2e3854, #0f0d02);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e3854), to(#0f0d02));
  background-image: -webkit-linear-gradient(top, #2e3854, #0f0d02);
  background-image: -o-linear-gradient(top, #2e3854, #0f0d02);
  background-image: linear-gradient(to bottom, #2e3854, #0f0d02);
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3854', endColorstr='#0f0d02', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
  border-top:1px solid #0F0D02;
  
}
#supermenu-mobile {
    display: none;
}
#supermenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#supermenu ul li.tlli {
	position: relative;
	float: left;
	z-index: 6;
	padding: 0px 5px 0px 0px;
}
#supermenu ul li.tlli:hover {
	z-index: 100;
}
#supermenu ul li a.tll {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 13px 10px 13px 10px;
	/*z-index: 6;*/
	position: relative;
	text-shadow: 0 0 1px #111 !important;
}
#supermenu ul li.tlli:hover a.tll {
	background: #494949;
}
#supermenu ul li div.bigdiv {
	display: none;
	background: #494949;
	position: absolute;
	z-index: 5;
	padding: 5px;
	padding-bottom: 15px;
	width: 960px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 0px 3px 3px #111;
	-moz-box-shadow: 0px 3px 3px #111;
	box-shadow: 0px 3px 3px #111;
}
#supermenu ul li.tlli.act div.bigdiv {
	display: table;
}
#supermenu > ul > li > div > ul {
	display: table-cell;
}
#supermenu > ul > li ul + ul {
	padding-left: 20px;
}
#supermenu  ul  li  div  .withchild ul.child-level li a {
	text-decoration: none;
	padding-top: 4px;
	padding-left: 7px;
	padding-bottom: 5px;
	color: #FFFFFF;
	display: block;
	min-width: 120px;
	background: url('slist.png') left center no-repeat;
}
#supermenu  ul  li  div  .withchild ul.child-level li a:hover {
	text-decoration: underline;
}
#supermenu  ul  li  div .supermenu-left {
	display: inline-block;
	float: left;
	vertical-align: top;
}
#supermenu  ul  li  div .menu-add {
    width: 200px;
	margin-left: 5px;
	height: 100%;
	overflow: hidden;
	float: right;
	vertical-align: bottom;
	display: inline-block;
}
#supermenu  ul  li  div .menu-add img {
    float: right;
	margin-top: 10px;
}
#supermenu  ul  li  div .withoutchild {
    display: block;
	margin-top: 5px;
}
#supermenu  ul  li  div .withoutchild .withchild {
    display: block;
	margin-left: 10px;
	width: 173px;
	margin-top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#supermenu  ul  li  div .withoutchild .withchild a {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	vertical-align: top;
} 
#supermenu  ul  li  div  .withchild {
    display:block;
	width: 173px;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
#supermenu  ul  li  div  .withchild a.theparent {
    color: #bbb;
	background: #555;
	border-bottom: 1px solid #444;
	display: block;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}
#supermenu  ul  li  div .withoutchild .withchild a:hover, #supermenu  ul  li  div  .withchild a.theparent:hover {
    background: #444;
}
#supermenu  ul  li  div .withimage {
    display:block;
	vertical-align: top;
	margin-left: 10px;
	width: 173px;
	margin-top: 10px;
}
#supermenu  ul  li  div .withimage .image img {
    border: 4px solid #ddd;
	background: #fff;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #111;
	-moz-box-shadow: 0px 2px 2px #111;
	box-shadow: 0px 2px 2px #111;
}
#supermenu  ul  li  div .withimage .image img:hover {
    border: 4px solid #fff;
}
#supermenu  ul  li  div .withimage .name a {
    color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
#supermenu  ul  li  div .withimage .child-level a {
    text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
}
#supermenu  ul  li  div .withimage .child-level {
    margin-left: 5px;
}
#supermenu  ul  li  div .withimage .name a:hover {
    text-decoration: underline;
}
#supermenu ul li div.bigdiv, #supermenu-mobile ul li div.bigdiv{
width:300px;
}

