<?php echo $header; ?>
<section class="container">
<aside class="row margin15">

<ul class="breadcrumb">

	<?php foreach ($breadcrumbs as $breadcrumb) { ?>

    	<li><?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

    <?php } ?>

</ul>



	<?php if ($error_warning) { ?>

    	<div class="warning"><?php echo $error_warning; ?></div>

    <?php } ?>

<?php echo $column_left; ?>

<?php echo $column_right; ?>

<div id="content"><?php echo $content_top; ?>

  <h1><?php echo $heading_title; ?></h1>

  <p><?php echo $text_account_already; ?></p>

  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">

    <h2><?php echo $text_your_details; ?></h2>

    <div class="content">

      <table class="form">      

        <tr>

          <td><span class="required">*</span> <?php echo $entry_firstname; ?></td>

          <td><input type="text" name="firstname" value="<?php echo $firstname; ?>" />

<?php if ($error_firstname) { ?>

            <span class="error"><?php echo $error_lastname; ?></span>

            <?php } ?>
</td>

        </tr>

        <tr>

          <td><span class="required">*</span> <?php echo $entry_lastname; ?></td>

          <td><input type="text" name="lastname" value="<?php echo $lastname; ?>" />

            <?php if ($error_lastname) { ?>

            <span class="error"><?php echo $error_lastname; ?></span>

            <?php } ?></td>

        </tr>

        <tr>

          <td><span class="required">*</span> <?php echo $entry_email; ?></td>

          <td><input type="text" name="email" value="<?php echo $email; ?>" />

            <?php if ($error_email) { ?>

            <span class="error"><?php echo $error_email; ?></span>

            <?php } ?></td>

        </tr>

        <tr>

          <td><span class="required">*</span> <?php echo $entry_telephone; ?></td>

          <td><input type="text" name="telephone" value="<?php echo $telephone; ?>" />

            <?php if ($error_telephone) { ?>

            <span class="error"><?php echo $error_telephone; ?></span>

            <?php } ?></td>

        </tr>

        <tr>

          <td><?php echo $entry_fax; ?></td>

          <td><input type="text" name="fax" value="<?php echo $fax; ?>" /></td>

        </tr>

      </table>

    </div>

    <h2><?php echo $text_your_address; ?></h2>

    <div class="content">

      <table class="form">

        <tr>

          <td><?php echo $entry_company; ?></td>

          <td><input type="text" name="company" value="<?php echo $company; ?>" /></td>

        </tr>     

        <tr style="display: <?php echo (count($customer_groups) > 1 ? 'table-row' : 'none'); ?>;">

          <td><?php echo $entry_account; ?></td>

          <td><select name="customer_group_id">

              <?php foreach ($customer_groups as $customer_group) { ?>

              <?php if ($customer_group['customer_group_id'] == $customer_group_id) { ?>

              <option value="<?php echo $customer_group['customer_group_id']; ?>" selected="selected"><?php echo $customer_group['name']; ?></option>

              <?php } else { ?>

              <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>

              <?php } ?>

              <?php } ?>

            </select></td>

        </tr>         

        <tr id="company-id-display">

          <td><span id="company-id-required" class="required">*</span> <?php echo $entry_company_id; ?></td>

          <td><input type="text" name="company_id" value="<?php echo $company_id; ?>" />

            <?php if ($error_company_id) { ?>

            <span class="error"><?php echo $error_company_id; ?></span>

            <?php } ?></td>

        </tr>

        <tr id="tax-id-display">

          <td><span id="tax-id-required" class="required">*</span> <?php echo $entry_tax_id; ?></td>

          <td><input type="text" name="tax_id" value="<?php echo $tax_id; ?>" />

            <?php if ($error_tax_id) { ?>

            <span class="error"><?php echo $error_tax_id; ?></span>

            <?php } ?></td>

        </tr>

        <tr>

          <td><!--<span class="required">*--></span> <?php echo $entry_address_1; ?></td>

          <td><input type="text" name="address_1" value="<?php echo $address_1; ?>" />

            <?php //if ($error_address_1) { ?>

            <!--<span class="error"><?php echo $error_address_1; ?></span>-->

            <?php // } ?></td>

        </tr>

        <tr>

          <td><?php echo $entry_address_2; ?></td>

          <td><input type="text" name="address_2" value="<?php echo $address_2; ?>" /></td>

        </tr>

        <tr>

          <td><!--<span class="required">*</span>--> <?php echo $entry_city; ?></td>

          <td><input type="text" name="city" value="<?php echo $city; ?>" />

            <?php // if ($error_city) { ?>

          <!--  <span class="error"><?php echo $error_city; ?></span>-->

            <?php// } ?></td>

        </tr>

        <tr>

          <td><span id="postcode-required" class="required">*</span> <?php echo $entry_postcode; ?></td>

          <td><input type="text" name="postcode" value="<?php echo $postcode; ?>" />

            <?php //if ($error_postcode) { ?>

<!--            <span class="error"><?php echo $error_postcode; ?></span>
-->
            <?php //} ?></td>

        </tr>

        <tr>

          <td><!--<span class="required">*</span>--> <?php echo $entry_country; ?></td>

          <td><select name="country_id">

              <option value=""><?php echo $text_select; ?></option>

              <?php foreach ($countries as $country) { ?>

              <?php if ($country['country_id'] == $country_id) { ?>

              <option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>

              <?php } else { ?>

              <option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>

              <?php } ?>

              <?php } ?>

            </select>

            <?php //if ($error_country) { ?>

           <!-- <span class="error"><?php echo $error_country; ?></span>-->

            <?php //} ?></td>

        </tr>

        <tr>

          <td><!--<span class="required">*</span> <?php echo $entry_zone; ?>--></td>

          <td><select name="zone_id">

            </select>

            <?php //if ($error_zone) { ?>

            <!--<span class="error"><?php echo $error_zone; ?></span>-->

            <?php // } ?></td>

        </tr>

      </table>

    </div>

    <h2><?php echo $text_your_password; ?></h2>

    <div class="content">

      <table class="form">

        <tr>

          <td><span class="required">*</span> <?php echo $entry_password; ?></td>

          <td><input type="password" name="password" value="<?php echo $password; ?>" />

            <?php if ($error_password) { ?>

            <span class="error"><?php echo $error_password; ?></span>

            <?php } ?></td>

        </tr>

        <tr>

          <td><span class="required">*</span> <?php echo $entry_confirm; ?></td>

          <td><input type="password" name="confirm" value="<?php echo $confirm; ?>" />

            <?php if ($error_confirm) { ?>

            <span class="error"><?php echo $error_confirm; ?></span>

            <?php } ?></td>

        </tr>

      </table>

    </div>

    <h2><?php echo $text_newsletter; ?></h2>

    <div class="content">

      <table class="form">

        <tr>

          <td><?php echo $entry_newsletter; ?></td>

          <td><?php if ($newsletter) { ?>

            <input type="radio" name="newsletter" value="1" checked="checked" />

            <?php echo $text_yes; ?>

            <input type="radio" name="newsletter" value="0" />

            <?php echo $text_no; ?>

            <?php } else { ?>

            <input type="radio" name="newsletter" value="1" />

            <?php echo $text_yes; ?>

            <input type="radio" name="newsletter" value="0" checked="checked" />

            <?php echo $text_no; ?>

            <?php } ?></td>

        </tr>

      </table>

    </div>


<?php /* //+mod by yp start */	
	if($show_affiliate_section) { ?>
    <div class="buttons">
      <div class="left">
        <?php if ($accc_create_affiliate_account) { ?>
        <input type="checkbox" name="accc_create_affiliate_account" value="1" checked="checked" id="accc_create_account_checkbox" />
        <?php } else { ?>
        <input type="checkbox" name="accc_create_affiliate_account" value="1" id="accc_create_account_checkbox" />
        <?php } ?> <?php echo $text_affiliate_checkbox_confirm; ?>        
      </div>
	</div>
    <h2 id="accc_aff_info"><?php echo $text_affiliate_information; ?></h2>
    <div class="content" id="accc_aff_data">
      <table class="form">
        <tbody>
		  <tr>
			<td><?php echo $entry_website; ?></td>
			<td><input type="text" name="website" value="<?php echo $website; ?>" /></td>
		  </tr>		
          <tr>
            <td><?php echo $entry_tax; ?></td>
            <td><input type="text" name="tax" value="<?php echo $tax; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_payment; ?></td>
            <td><?php if ($payment == 'cheque') { ?>
              <input type="radio" name="payment" value="cheque" id="cheque" checked="checked" />
              <?php } else { ?>
              <input type="radio" name="payment" value="cheque" id="cheque" />
              <?php } ?>
              <label for="cheque"><?php echo $text_cheque; ?></label>
              <?php if ($payment == 'paypal') { ?>
              <input type="radio" name="payment" value="paypal" id="paypal" checked="checked" />
              <?php } else { ?>
              <input type="radio" name="payment" value="paypal" id="paypal" />
              <?php } ?>
              <label for="paypal"><?php echo $text_paypal; ?></label>
              <?php if ($payment == 'bank') { ?>
              <input type="radio" name="payment" value="bank" id="bank" checked="checked" />
              <?php } else { ?>
              <input type="radio" name="payment" value="bank" id="bank" />
              <?php } ?>
              <label for="bank"><?php echo $text_bank; ?></label></td>
          </tr>
        </tbody>
        <tbody id="payment-cheque" class="payment">
          <tr>
            <td><?php echo $entry_cheque; ?></td>
            <td><input type="text" name="cheque" value="<?php echo $cheque; ?>" /></td>
          </tr>
        </tbody>
        <tbody class="payment" id="payment-paypal">
          <tr>
            <td><?php echo $entry_paypal; ?></td>
            <td><input type="text" name="paypal" value="<?php echo $paypal; ?>" /></td>
          </tr>
        </tbody>
        <tbody id="payment-bank" class="payment">
          <tr>
            <td><?php echo $entry_bank_name; ?></td>
            <td><input type="text" name="bank_name" value="<?php echo $bank_name; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_bank_branch_number; ?></td>
            <td><input type="text" name="bank_branch_number" value="<?php echo $bank_branch_number; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_bank_swift_code; ?></td>
            <td><input type="text" name="bank_swift_code" value="<?php echo $bank_swift_code; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_bank_account_name; ?></td>
            <td><input type="text" name="bank_account_name" value="<?php echo $bank_account_name; ?>" /></td>
          </tr>
          <tr>
            <td><?php echo $entry_bank_account_number; ?></td>
            <td><input type="text" name="bank_account_number" value="<?php echo $bank_account_number; ?>" /></td>
          </tr>
        </tbody>
      </table>
    </div>
<?php } /* //+mod by yp end */ ?>

    <?php if ($text_agree) { ?>

    <div class="buttons">

      <div class="right"><?php echo $text_agree; ?>

        <?php if ($agree) { ?>

        <input type="checkbox" name="agree" value="1" checked="checked" />

        <?php } else { ?>

        <input type="checkbox" name="agree" value="1" />

        <?php } ?>

        <input type="submit" value="<?php echo $button_continue; ?>" class="button" />

      </div>

    </div>

    <?php } else { ?>

    <div class="buttons">

      <div class="right">

        <input type="submit" value="<?php echo $button_continue; ?>" class="button" />

      </div>

    </div>

    <?php } ?>

  </form>

  <?php echo $content_bottom; ?></div>

<script type="text/javascript"><!--

$('select[name=\'customer_group_id\']').live('change', function() {

	var customer_group = [];

	

<?php foreach ($customer_groups as $customer_group) { ?>

	customer_group[<?php echo $customer_group['customer_group_id']; ?>] = [];

	customer_group[<?php echo $customer_group['customer_group_id']; ?>]['company_id_display'] = '<?php echo $customer_group['company_id_display']; ?>';

	customer_group[<?php echo $customer_group['customer_group_id']; ?>]['company_id_required'] = '<?php echo $customer_group['company_id_required']; ?>';

	customer_group[<?php echo $customer_group['customer_group_id']; ?>]['tax_id_display'] = '<?php echo $customer_group['tax_id_display']; ?>';

	customer_group[<?php echo $customer_group['customer_group_id']; ?>]['tax_id_required'] = '<?php echo $customer_group['tax_id_required']; ?>';

<?php } ?>	



	if (customer_group[this.value]) {

		if (customer_group[this.value]['company_id_display'] == '1') {

			$('#company-id-display').show();

		} else {

			$('#company-id-display').hide();

		}

		

		if (customer_group[this.value]['company_id_required'] == '1') {

			$('#company-id-required').show();

		} else {

			$('#company-id-required').hide();

		}

		

		if (customer_group[this.value]['tax_id_display'] == '1') {

			$('#tax-id-display').show();

		} else {

			$('#tax-id-display').hide();

		}

		

		if (customer_group[this.value]['tax_id_required'] == '1') {

			$('#tax-id-required').show();

		} else {

			$('#tax-id-required').hide();

		}	

	}

});



$('select[name=\'customer_group_id\']').trigger('change');

//--></script>   

<script type="text/javascript"><!--

$('select[name=\'country_id\']').bind('change', function() {

	$.ajax({

		url: 'index.php?route=account/register/country&country_id=' + this.value,

		dataType: 'json',

		beforeSend: function() {

			$('select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');

		},

		complete: function() {

			$('.wait').remove();

		},			

		success: function(json) {

			if (json['postcode_required'] == '1') {

				$('#postcode-required').show();

			} else {

				$('#postcode-required').hide();

			}

			

			html = '<option value=""><?php echo $text_select; ?></option>';

			

			if (json['zone'] != '') {

				for (i = 0; i < json['zone'].length; i++) {

        			html += '<option value="' + json['zone'][i]['zone_id'] + '"';

	    			

					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {

	      				html += ' selected="selected"';

	    			}

	

	    			html += '>' + json['zone'][i]['name'] + '</option>';

				}

			} else {

				html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';

			}

			

			$('select[name=\'zone_id\']').html(html);

		},

		error: function(xhr, ajaxOptions, thrownError) {

			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);

		}

	});

});



$('select[name=\'country_id\']').trigger('change');

//--></script>

<script type="text/javascript"><!--

$('.colorbox').colorbox({

	width: 640,

	height: 480

});

//--></script> 
</aside></section>

<?php /* //+mod by yp start */	
	if($show_affiliate_section) { ?>
<script type="text/javascript"><!--	
if($('#accc_create_account_checkbox').is(':checked')) {
	$('#accc_aff_info').show();
	$('#accc_aff_data').show();
} else {
	$('#accc_aff_info').hide();
	$('#accc_aff_data').hide();

}
$('#accc_create_account_checkbox').click(function() {
	if($(this).is(':checked')) {
		$('#accc_aff_info').show();
		$('#accc_aff_data').show();
	} else {
		$('#accc_aff_info').hide();
		$('#accc_aff_data').hide();
	}
});
<?php
	if($config_website_textarea) {?>
$(document).ready(function() {
	$('input[name="website"]').before('<textarea name="website">'+$('input[name="website"]').val()+'</textarea>');
	$('input[name="website"]').remove();
});
<?php }
	if($config_website_required) {?>
$(document).ready(function() {
	$('[name="website"]').parent().parent().find('td:first').prepend('<span class="required">*</span> ');
});
<?php }
	if($error_website) {?>
	$(document).ready(function() {
		$('[name="website"]').after('<span class="error"><?php echo $error_website; ?></span>');
	});
<?php }
?>
//--></script>
<script type="text/javascript"><!--
$('input[name=\'payment\']').bind('change', function() {
	$('.payment').hide();
	
	$('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script> 
<?php } /* //+mod by yp end */ ?>

<?php echo $footer; ?>