<?php echo $header; ?>

	<style>.small {    font-size: 0.85em;}legend {    background: none repeat scroll 0 0 #EBEDF4;    border: 1px solid #CCCED7;    font-weight: 700;    margin: 0;    padding: 0.2em 0.5em;    text-align: left;}.margin-form {    color: #7F7F7F;    font-size: 0.85em;    padding: 0 0 1em 260px;}label {    color: #585A69;    text-shadow: 0 1px 0 #FFFFFF;}label:after {    clear: both;}fieldset {    background-color: #EBEDF4;    border: 1px solid #CCCED7;    font-size: 1.1em;    margin: 0;    padding: 1em;}</style>
			
<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/product.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a href="<?php echo $cancel; ?>" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <div id="tabs" class="htabs"><a href="#tab-general"><?php echo $tab_general; ?></a><a href="#tab-data"><?php echo $tab_data; ?></a><a href="#tab-google"><?php echo $tab_google; ?></a><a href="#tab-links"><?php echo $tab_links; ?></a><a href="#tab-attribute"><?php echo $tab_attribute; ?></a><a href="#tab-option"><?php echo $tab_option; ?></a><a href="#tab-discount"><?php echo $tab_discount; ?></a><a href="#tab-special"><?php echo $tab_special; ?></a><a href="#tab-image"><?php echo $tab_image; ?></a><a href="#tab-reward"><?php echo $tab_reward; ?></a>
			 <a href="#tab-design"><?php echo $tab_design; ?></a>
	<a href="#tab-auction"><?php echo $tab_auction; ?></a></div>
			
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <div id="tab-general">
          <div id="languages" class="htabs">
            <?php foreach ($languages as $language) { ?>
            <a href="#language<?php echo $language['language_id']; ?>"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a>
            <?php } ?>
          </div>
          <?php foreach ($languages as $language) { ?>
          <div id="language<?php echo $language['language_id']; ?>">
            <table class="form">
              <tr>
                <td><span class="required">*</span> <?php echo $entry_name; ?></td>
                <td><input type="text" name="product_description[<?php echo $language['language_id']; ?>][name]" size="100" value="<?php echo isset($product_description[$language['language_id']]) ? $product_description[$language['language_id']]['name'] : ''; ?>" />
                  <?php if (isset($error_name[$language['language_id']])) { ?>
                  <span class="error"><?php echo $error_name[$language['language_id']]; ?></span>
                  <?php } ?></td>
              </tr>
              <tr>
                <td><?php echo $entry_meta_description; ?></td>
                <td><textarea name="product_description[<?php echo $language['language_id']; ?>][meta_description]" cols="40" rows="5"><?php echo isset($product_description[$language['language_id']]) ? $product_description[$language['language_id']]['meta_description'] : ''; ?></textarea></td>
              </tr>
              <tr>
                <td><?php echo $entry_meta_keyword; ?></td>
                <td><textarea name="product_description[<?php echo $language['language_id']; ?>][meta_keyword]" cols="40" rows="5"><?php echo isset($product_description[$language['language_id']]) ? $product_description[$language['language_id']]['meta_keyword'] : ''; ?></textarea></td>
              </tr>
              <tr>
                <td><?php echo $entry_description; ?></td>
                <td><textarea name="product_description[<?php echo $language['language_id']; ?>][description]" id="description<?php echo $language['language_id']; ?>"><?php echo isset($product_description[$language['language_id']]) ? $product_description[$language['language_id']]['description'] : ''; ?></textarea></td>
              </tr>
              <tr>
                <td><?php echo $entry_tag; ?></td>
                <td><input type="text" name="product_description[<?php echo $language['language_id']; ?>][tag]" value="<?php echo isset($product_description[$language['language_id']]) ? $product_description[$language['language_id']]['tag'] : ''; ?>" size="80" /></td>
              </tr>
            </table>
          </div>
          <?php } ?>
        </div>
        <div id="tab-data">
          <table class="form">
            <tr>
              <td><span class="required">*</span> <?php echo $entry_model; ?></td>
              <td><input type="text" name="model" value="<?php echo $model; ?>" />
                <?php if ($error_model) { ?>
                <span class="error"><?php echo $error_model; ?></span>
                <?php } ?></td>
            </tr>
            <tr>
              <td><?php echo $entry_sku; ?></td>
              <td><input type="text" name="sku" value="<?php echo $sku; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_upc; ?></td>
              <td><input type="text" name="upc" value="<?php echo $upc; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_ean; ?></td>
              <td><input type="text" name="ean" value="<?php echo $ean; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_jan; ?></td>
              <td><input type="text" name="jan" value="<?php echo $jan; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_isbn; ?></td>
              <td><input type="text" name="isbn" value="<?php echo $isbn; ?>" /></td>
            </tr>
            <tr>
              



              <td><?php echo $entry_location; ?></td>
              <td><input type="text" name="location" value="<?php echo $location; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_price; ?></td>
              <td><input type="text" name="price" value="<?php echo $price; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_tax_class; ?></td>
              <td><select name="tax_class_id">
                  <option value="0"><?php echo $text_none; ?></option>
                  <?php foreach ($tax_classes as $tax_class) { ?>
                  <?php if ($tax_class['tax_class_id'] == $tax_class_id) { ?>
                  <option value="<?php echo $tax_class['tax_class_id']; ?>" selected="selected"><?php echo $tax_class['title']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $tax_class['tax_class_id']; ?>"><?php echo $tax_class['title']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_quantity; ?></td>
              <td><input type="text" name="quantity" value="<?php echo $quantity; ?>" size="2" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_minimum; ?></td>
              <td><input type="text" name="minimum" value="<?php echo $minimum; ?>" size="2" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_subtract; ?></td>
              <td><select name="subtract">
                  <?php if ($subtract) { ?>
                  <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                  <option value="0"><?php echo $text_no; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_yes; ?></option>
                  <option value="0" selected="selected"><?php echo $text_no; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_stock_status; ?></td>
              <td><select name="stock_status_id">
                  <?php foreach ($stock_statuses as $stock_status) { ?>
                  <?php if ($stock_status['stock_status_id'] == $stock_status_id) { ?>
                  <option value="<?php echo $stock_status['stock_status_id']; ?>" selected="selected"><?php echo $stock_status['name']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $stock_status['stock_status_id']; ?>"><?php echo $stock_status['name']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_shipping; ?></td>
              <td><?php if ($shipping) { ?>
                <input type="radio" name="shipping" value="1" checked="checked" />
                <?php echo $text_yes; ?>
                <input type="radio" name="shipping" value="0" />
                <?php echo $text_no; ?>
                <?php } else { ?>
                <input type="radio" name="shipping" value="1" />
                <?php echo $text_yes; ?>
                <input type="radio" name="shipping" value="0" checked="checked" />
                <?php echo $text_no; ?>
                <?php } ?></td>
            </tr>
            <tr>
              <td><?php echo $entry_keyword; ?></td>
              <td><input type="text" name="keyword" value="<?php echo $keyword; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_image; ?></td>
              <td><div class="image"><img src="<?php echo $thumb; ?>" alt="" id="thumb" /><br />
                  <input type="hidden" name="image" value="<?php echo $image; ?>" id="image" />
                  <a onclick="image_upload('image', 'thumb');"><?php echo $text_browse; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb').attr('src', '<?php echo $no_image; ?>'); $('#image').attr('value', '');"><?php echo $text_clear; ?></a></div></td>
            </tr>
            <tr>
              <td><?php echo $entry_date_available; ?></td>
              <td><input type="text" name="date_available" value="<?php echo $date_available; ?>" size="12" class="date" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_dimension; ?></td>
              <td><input type="text" name="length" value="<?php echo $length; ?>" size="4" />
                <input type="text" name="width" value="<?php echo $width; ?>" size="4" />
                <input type="text" name="height" value="<?php echo $height; ?>" size="4" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_length; ?></td>
              <td><select name="length_class_id">
                  <?php foreach ($length_classes as $length_class) { ?>
                  <?php if ($length_class['length_class_id'] == $length_class_id) { ?>
                  <option value="<?php echo $length_class['length_class_id']; ?>" selected="selected"><?php echo $length_class['title']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $length_class['length_class_id']; ?>"><?php echo $length_class['title']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_weight; ?></td>
              <td><input type="text" name="weight" value="<?php echo $weight; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_weight_class; ?></td>
              <td><select name="weight_class_id">
                  <?php foreach ($weight_classes as $weight_class) { ?>
                  <?php if ($weight_class['weight_class_id'] == $weight_class_id) { ?>
                  <option value="<?php echo $weight_class['weight_class_id']; ?>" selected="selected"><?php echo $weight_class['title']; ?></option>
                  <?php } else { ?>
                  <option value="<?php echo $weight_class['weight_class_id']; ?>"><?php echo $weight_class['title']; ?></option>
                  <?php } ?>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_status; ?></td>
              <td><select name="status">
                  <?php if ($status) { ?>
                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                  <option value="0"><?php echo $text_disabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?php echo $text_enabled; ?></option>
                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_sort_order; ?></td>
              <td><input type="text" name="sort_order" value="<?php echo $sort_order; ?>" size="2" /></td>
            </tr>
          </table>
        </div>
        <div id="tab-google">
          <table class="form">
            <tr>
              <td><?php echo $entry_ongoogle; ?></td>
              <td><select name="ongoogle">
                  <?php if ($ongoogle=='0') { ?>
                  <option value="1"><?php echo $text_yes; ?></option>
                  <option value="0" selected="selected"><?php echo $text_no; ?></option>
                  <?php } else { ?>
                  <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                  <option value="0"><?php echo $text_no; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_identifier_exists; ?></td>
              <td><select name="identifier_exists">
                  <?php if ($identifier_exists=='0') { ?>
                  <option value="1"><?php echo $text_yes; ?></option>
                  <option value="0" selected="selected"><?php echo $text_no; ?></option>
                  <?php } else { ?>
                  <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                  <option value="0"><?php echo $text_no; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_pcondition; ?></td>
              <td><select name="gcondition">
                  <?php if ($gcondition=='new'||($gcondition==''&&$this->config->get('uksb_google_merchant_condition')=='new')) { ?>
                  <option value="new" selected="selected"><?php echo $text_condition_new; ?></option>
                  <option value="used"><?php echo $text_condition_used; ?></option>
                  <option value="refurbished"><?php echo $text_condition_ref; ?></option>
                  <?php } elseif ($gcondition=='used'||($gcondition==''&&$this->config->get('uksb_google_merchant_condition')=='used')) { ?>
                  <option value="new"><?php echo $text_condition_new; ?></option>
                  <option value="used" selected="selected"><?php echo $text_condition_used; ?></option>
                  <option value="refurbished"><?php echo $text_condition_ref; ?></option>
                  <?php } else { ?>
                  <option value="new"><?php echo $text_condition_new; ?></option>
                  <option value="used"><?php echo $text_condition_used; ?></option>
                  <option value="refurbished" selected="selected"><?php echo $text_condition_ref; ?></option>
                  <?php } ?></select></td>
            </tr>
            <tr>
              <td><?php echo $entry_pbrand; ?></td>
              <td><input type="text" name="brand" value="<?php echo $brand; ?>" />
                </td>
            </tr>
            <tr>
              <td><?php echo $entry_pmpn; ?></td>
              <td><input type="text" name="mpn" value="<?php echo $mpn; ?>"<?php echo ($this->config->get('uksb_google_merchant_mpn')=='model'?' readonly="readonly" onclick="javascript:alert(\''.$warning_mpn_model.'\');"':($this->config->get('uksb_google_merchant_mpn')=='location'?' readonly="readonly" onclick="javascript:alert(\''.$warning_mpn_location.'\');"':($this->config->get('uksb_google_merchant_mpn')=='sku'?' readonly="readonly" onclick="javascript:alert(\''.$warning_mpn_sku.'\');"':''))); ?> />
                </td>
            </tr>
            <tr>
              <td><?php echo $entry_pgtin; ?></td>
              <td><input type="text" name="gtin" value="<?php echo $gtin; ?>"<?php echo ($this->config->get('uksb_google_merchant_gtin')=='default'?' readonly="readonly" onclick="javascript:alert(\''.$warning_gtin_default.'\');"':($this->config->get('uksb_google_merchant_gtin')=='location'?' readonly="readonly" onclick="javascript:alert(\''.$warning_gtin_location.'\');"':($this->config->get('uksb_google_merchant_gtin')=='sku'?' readonly="readonly" onclick="javascript:alert(\''.$warning_gtin_sku.'\');"':''))); ?> />
                </td>
            </tr>
          <tr>
            <td valign="top"><?php echo $entry_pgoogle_category; ?><br /><span class="help"><?php echo $help_pgoogle_category; ?><br /><br /><?php echo $entry_choose_google_category_xml; ?></span></td>
            <td><img src="view/image/flags/gb.png" /> <input type="text" name="google_category_gb" value="<?php echo $google_category_gb; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/us.png" /> <input type="text" name="google_category_us" value="<?php echo $google_category_us; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=en-US','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/au.png" /> <input type="text" name="google_category_au" value="<?php echo $google_category_au; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=en-AU','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/fr.png" /> <input type="text" name="google_category_fr" value="<?php echo $google_category_fr; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=fr-FR','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/de.png" /> <input type="text" name="google_category_de" value="<?php echo $google_category_de; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=de-DE','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/it.png" /> <input type="text" name="google_category_it" value="<?php echo $google_category_it; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=it-IT','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/nl.png" /> <input type="text" name="google_category_nl" value="<?php echo $google_category_nl; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=nl-NL','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a><br /><br />
            <img src="view/image/flags/es.png" /> <input type="text" name="google_category_es" value="<?php echo $google_category_es; ?>" style="width:400px; font-size:9px;" /> <a onclick="window.open('<?php echo $uksbhome; ?>taxonomy.php?lang=es-ES','google');"><img src="view/image/add.png" border="0" alt="" title="<?php echo $entry_choose_google_category; ?>"></a></td>
          </tr>
            <tr>
              <td><?php echo $entry_pgender; ?></td>
              <td><select name="gender">
                  <?php if (!$gender||$gender=='0') { ?>
                  <option value="0" selected="selected"><?php echo $text_none; ?></option>
                  <option value="male"><?php echo $text_male; ?></option>
                  <option value="female"><?php echo $text_female; ?></option>
                  <option value="unisex"><?php echo $text_unisex; ?></option>
                  <?php } elseif ($gender=='male') { ?>
                  <option value="0"><?php echo $text_none; ?></option>
                  <option value="male" selected="selected"><?php echo $text_male; ?></option>
                  <option value="female"><?php echo $text_female; ?></option>
                  <option value="unisex"><?php echo $text_unisex; ?></option>
                  <?php } elseif ($gender=='female') { ?>
                  <option value="0"><?php echo $text_none; ?></option>
                  <option value="male"><?php echo $text_male; ?></option>
                  <option value="female" selected="selected"><?php echo $text_female; ?></option>
                  <option value="unisex"><?php echo $text_unisex; ?></option>
                  <?php } elseif ($gender=='unisex') { ?>
                  <option value="0"><?php echo $text_none; ?></option>
                  <option value="male"><?php echo $text_male; ?></option>
                  <option value="female"><?php echo $text_female; ?></option>
                  <option value="unisex" selected="selected"><?php echo $text_unisex; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td><?php echo $entry_page_group; ?></td>
              <td><select name="age_group">
                  <?php if (!$age_group||$age_group=='0') { ?>
                  <option value="0" selected="selected"><?php echo $text_none; ?></option>
                  <option value="adult"><?php echo $text_adult; ?></option>
                  <option value="kids"><?php echo $text_kids; ?></option>
                  <?php } elseif ($age_group=='adult') { ?>
                  <option value="0"><?php echo $text_none; ?></option>
                  <option value="adult" selected="selected"><?php echo $text_adult; ?></option>
                  <option value="kids"><?php echo $text_kids; ?></option>
                  <?php } elseif ($age_group=='kids') { ?>
                  <option value="0"><?php echo $text_none; ?></option>
                  <option value="adult"><?php echo $text_adult; ?></option>
                  <option value="kids" selected="selected"><?php echo $text_kids; ?></option>
                  <?php } ?>
                </select></td>
            </tr>
            <tr>
              <td colspan="2"><h2><?php echo $entry_variant_section; ?></h2><p><span class="help"><?php echo $help_variants; ?></span></p></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_pcolour; ?></td>
              <td><textarea name="colour" style="width:400px; height:150px;"><?php echo $colour; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_psize; ?></td>
              <td><textarea name="size" style="width:400px; height:150px;"><?php echo $size; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_pmaterial; ?></td>
              <td><textarea name="material" style="width:400px; height:150px;"><?php echo $material; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_ppattern; ?></td>
              <td><textarea name="pattern" style="width:400px; height:150px;"><?php echo $pattern; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_vmpn; ?></td>
              <td><textarea name="vmpn" style="width:400px; height:150px;"><?php echo $vmpn; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_vgtin; ?></td>
              <td><textarea name="vgtin" style="width:400px; height:150px;"><?php echo $vgtin; ?></textarea></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_vprices; ?></td>
              <td><textarea name="vprices" style="width:400px; height:150px;"><?php echo $vprices; ?></textarea></td>
            </tr>
            <tr>
              <td colspan="2"><h2><?php echo $entry_adwords_section; ?></h2><p><span class="help"><?php echo $help_adwords; ?></span></p></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_padwords_grouping; ?></td>
              <td><input type="text" name="google_adwords_grouping" value="<?php echo $google_adwords_grouping; ?>" /></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_padwords_labels; ?></td>
              <td><input type="text" name="google_adwords_labels" style="width:400px;" value="<?php echo $google_adwords_labels; ?>" /></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_padwords_redirect; ?></td>
              <td><input type="text" name="google_adwords_redirect" style="width:400px;" value="<?php echo $google_adwords_redirect; ?>" /></td>
            </tr>
            <tr>
              <td valign="top"><?php echo $entry_padwords_queryparam; ?></td>
              <td><input type="text" name="google_adwords_queryparam" style="width:400px;" value="<?php echo $google_adwords_queryparam; ?>" /></td>
            </tr>
          </table>
		  <div class="buttons"><a onclick="$('#form').submit();" class="button">Save</a></div>
        </div>
        <div id="tab-links">
          <table class="form">
            <tr>
              <td><?php echo $entry_manufacturer; ?></td>
              <td><input type="text" name="manufacturer" value="<?php echo $manufacturer ?>" /><input type="hidden" name="manufacturer_id" value="<?php echo $manufacturer_id; ?>" /></td>
            </tr>
            <tr>
              <td><?php echo $entry_category; ?></td>
              <td><input type="text" name="category" value="" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div id="product-category" class="scrollbox">
                  <?php $class = 'odd'; ?>
                  <?php foreach ($product_categories as $product_category) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div id="product-category<?php echo $product_category['category_id']; ?>" class="<?php echo $class; ?>"><?php echo $product_category['name']; ?><img src="view/image/delete.png" alt="" />
                    <input type="hidden" name="product_category[]" value="<?php echo $product_category['category_id']; ?>" />
                  </div>
                  <?php } ?>
                </div></td>
            </tr> 
            <tr>
              <td><?php echo $entry_filter; ?></td>
              <td><input type="text" name="filter" value="" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div id="product-filter" class="scrollbox">
                  <?php $class = 'odd'; ?>
                  <?php foreach ($product_filters as $product_filter) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div id="product-filter<?php echo $product_filter['filter_id']; ?>" class="<?php echo $class; ?>"><?php echo $product_filter['name']; ?><img src="view/image/delete.png" alt="" />
                    <input type="hidden" name="product_filter[]" value="<?php echo $product_filter['filter_id']; ?>" />
                  </div>
                  <?php } ?>
                </div></td>
            </tr>                       
            <tr>
              <td><?php echo $entry_store; ?></td>
              <td><div class="scrollbox">
                  <?php $class = 'even'; ?>
                  <div class="<?php echo $class; ?>">
                    <?php if (in_array(0, $product_store)) { ?>
                    <input type="checkbox" name="product_store[]" value="0" checked="checked" />
                    <?php echo $text_default; ?>
                    <?php } else { ?>
                    <input type="checkbox" name="product_store[]" value="0" />
                    <?php echo $text_default; ?>
                    <?php } ?>
                  </div>
                  <?php foreach ($stores as $store) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div class="<?php echo $class; ?>">
                    <?php if (in_array($store['store_id'], $product_store)) { ?>
                    <input type="checkbox" name="product_store[]" value="<?php echo $store['store_id']; ?>" checked="checked" />
                    <?php echo $store['name']; ?>
                    <?php } else { ?>
                    <input type="checkbox" name="product_store[]" value="<?php echo $store['store_id']; ?>" />
                    <?php echo $store['name']; ?>
                    <?php } ?>
                  </div>
                  <?php } ?>
                </div></td>
            </tr>
            <tr>
              <td><?php echo $entry_download; ?></td>
              <td><input type="text" name="download" value="" /></td>
            </tr>			
            <tr>
              <td>&nbsp;</td>
              <td><div id="product-download" class="scrollbox">
                  <?php $class = 'odd'; ?>
                  <?php foreach ($product_downloads as $product_download) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div id="product-download<?php echo $product_download['download_id']; ?>" class="<?php echo $class; ?>"> <?php echo $product_download['name']; ?><img src="view/image/delete.png" alt="" />
                    <input type="hidden" name="product_download[]" value="<?php echo $product_download['download_id']; ?>" />
                  </div>
                  <?php } ?>
                </div></td>
            </tr>
            <tr>
              <td><?php echo $entry_related; ?></td>
              <td><input type="text" name="related" value="" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div id="product-related" class="scrollbox">
                  <?php $class = 'odd'; ?>
                  <?php foreach ($product_related as $product_related) { ?>
                  <?php $class = ($class == 'even' ? 'odd' : 'even'); ?>
                  <div id="product-related<?php echo $product_related['product_id']; ?>" class="<?php echo $class; ?>"> <?php echo $product_related['name']; ?><img src="view/image/delete.png" alt="" />
                    <input type="hidden" name="product_related[]" value="<?php echo $product_related['product_id']; ?>" />
                  </div>
                  <?php } ?>
                </div></td>
            </tr>
          </table>
        </div>
        <div id="tab-attribute">
          <table id="attribute" class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_attribute; ?></td>
                <td class="left"><?php echo $entry_text; ?></td>
                <td></td>
              </tr>
            </thead>
            <?php $attribute_row = 0; ?>
            <?php foreach ($product_attributes as $product_attribute) { ?>
            <tbody id="attribute-row<?php echo $attribute_row; ?>">
              <tr>
                <td class="left"><input type="text" name="product_attribute[<?php echo $attribute_row; ?>][name]" value="<?php echo $product_attribute['name']; ?>" />
                  <input type="hidden" name="product_attribute[<?php echo $attribute_row; ?>][attribute_id]" value="<?php echo $product_attribute['attribute_id']; ?>" /></td>
                <td class="left"><?php foreach ($languages as $language) { ?>
                  <textarea name="product_attribute[<?php echo $attribute_row; ?>][product_attribute_description][<?php echo $language['language_id']; ?>][text]" cols="40" rows="5"><?php echo isset($product_attribute['product_attribute_description'][$language['language_id']]) ? $product_attribute['product_attribute_description'][$language['language_id']]['text'] : ''; ?></textarea>
                  <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" align="top" /><br />
                  <?php } ?></td>
                <td class="left"><a onclick="$('#attribute-row<?php echo $attribute_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
              </tr>
            </tbody>
            <?php $attribute_row++; ?>
            <?php } ?>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td class="left"><a onclick="addAttribute();" class="button"><?php echo $button_add_attribute; ?></a></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="tab-option">
          <div id="vtab-option" class="vtabs">
            <?php $option_row = 0; ?>
            <?php foreach ($product_options as $product_option) { ?>
            <a href="#tab-option-<?php echo $option_row; ?>" id="option-<?php echo $option_row; ?>"><?php echo $product_option['name']; ?>&nbsp;<img src="view/image/delete.png" alt="" onclick="$('#option-<?php echo $option_row; ?>').remove(); $('#tab-option-<?php echo $option_row; ?>').remove(); $('#vtabs a:first').trigger('click'); return false;" /></a>
            <?php $option_row++; ?>
            <?php } ?>
            <span id="option-add">
            <input name="option" value="" style="width: 130px;" />
            &nbsp;<img src="view/image/add.png" alt="<?php echo $button_add_option; ?>" title="<?php echo $button_add_option; ?>" /></span></div>
          <?php $option_row = 0; ?>
          <?php $option_value_row = 0; ?>
          <?php foreach ($product_options as $product_option) { ?>
          <div id="tab-option-<?php echo $option_row; ?>" class="vtabs-content">
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][product_option_id]" value="<?php echo $product_option['product_option_id']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][name]" value="<?php echo $product_option['name']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][option_id]" value="<?php echo $product_option['option_id']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][type]" value="<?php echo $product_option['type']; ?>" />
            <table class="form">
              <tr>
                <td><?php echo $entry_required; ?></td>
                <td><select name="product_option[<?php echo $option_row; ?>][required]">
                    <?php if ($product_option['required']) { ?>
                    <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                    <option value="0"><?php echo $text_no; ?></option>
                    <?php } else { ?>
                    <option value="1"><?php echo $text_yes; ?></option>
                    <option value="0" selected="selected"><?php echo $text_no; ?></option>
                    <?php } ?>
                  </select></td>
              </tr>
              <?php if ($product_option['type'] == 'text') { ?>
              <tr>
                <td><?php echo $entry_option_value; ?></td>
                <td><input type="text" name="product_option[<?php echo $option_row; ?>][option_value]" value="<?php echo $product_option['option_value']; ?>" /></td>
              </tr>
              <?php } ?>
              <?php if ($product_option['type'] == 'textarea') { ?>
              <tr>
                <td><?php echo $entry_option_value; ?></td>
                <td><textarea name="product_option[<?php echo $option_row; ?>][option_value]" cols="40" rows="5"><?php echo $product_option['option_value']; ?></textarea></td>
              </tr>
              <?php } ?>
              <?php if ($product_option['type'] == 'file') { ?>
              <tr style="display: none;">
                <td><?php echo $entry_option_value; ?></td>
                <td><input type="text" name="product_option[<?php echo $option_row; ?>][option_value]" value="<?php echo $product_option['option_value']; ?>" /></td>
              </tr>
              <?php } ?>
              <?php if ($product_option['type'] == 'date') { ?>
              <tr>
                <td><?php echo $entry_option_value; ?></td>
                <td><input type="text" name="product_option[<?php echo $option_row; ?>][option_value]" value="<?php echo $product_option['option_value']; ?>" class="date" /></td>
              </tr>
              <?php } ?>
              <?php if ($product_option['type'] == 'datetime') { ?>
              <tr>
                <td><?php echo $entry_option_value; ?></td>
                <td><input type="text" name="product_option[<?php echo $option_row; ?>][option_value]" value="<?php echo $product_option['option_value']; ?>" class="datetime" /></td>
              </tr>
              <?php } ?>
              <?php if ($product_option['type'] == 'time') { ?>
              <tr>
                <td><?php echo $entry_option_value; ?></td>
                <td><input type="text" name="product_option[<?php echo $option_row; ?>][option_value]" value="<?php echo $product_option['option_value']; ?>" class="time" /></td>
              </tr>
              <?php } ?>
            </table>
            <?php if ($product_option['type'] == 'select' || $product_option['type'] == 'radio' || $product_option['type'] == 'checkbox' || $product_option['type'] == 'image') { ?>
            <table id="option-value<?php echo $option_row; ?>" class="list">
              <thead>
                <tr>
                  <td class="left"><?php echo $entry_option_value; ?></td>
                  <td class="right"><?php echo $entry_quantity; ?></td>
                  <td class="left"><?php echo $entry_subtract; ?></td>
                  <td class="right"><?php echo $entry_price; ?></td>
                  <td class="right"><?php echo $entry_option_points; ?></td>
                  <td class="right"><?php echo $entry_weight; ?></td>
                  <td></td>
                </tr>
              </thead>
              <?php foreach ($product_option['product_option_value'] as $product_option_value) { ?>
              <tbody id="option-value-row<?php echo $option_value_row; ?>">
                <tr>
                  <td class="left"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][option_value_id]">
                      <?php if (isset($option_values[$product_option['option_id']])) { ?>
                      <?php foreach ($option_values[$product_option['option_id']] as $option_value) { ?>
                      <?php if ($option_value['option_value_id'] == $product_option_value['option_value_id']) { ?>
                      <option value="<?php echo $option_value['option_value_id']; ?>" selected="selected"><?php echo $option_value['name']; ?></option>
                      <?php } else { ?>
                      <option value="<?php echo $option_value['option_value_id']; ?>"><?php echo $option_value['name']; ?></option>
                      <?php } ?>
                      <?php } ?>
                      <?php } ?>
                    </select>
                    <input type="hidden" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][product_option_value_id]" value="<?php echo $product_option_value['product_option_value_id']; ?>" /></td>
                  <td class="right"><input type="text" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][quantity]" value="<?php echo $product_option_value['quantity']; ?>" size="3" /></td>
                  <td class="left"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][subtract]">
                      <?php if ($product_option_value['subtract']) { ?>
                      <option value="1" selected="selected"><?php echo $text_yes; ?></option>
                      <option value="0"><?php echo $text_no; ?></option>
                      <?php } else { ?>
                      <option value="1"><?php echo $text_yes; ?></option>
                      <option value="0" selected="selected"><?php echo $text_no; ?></option>
                      <?php } ?>
                    </select></td>
                  <td class="right"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][price_prefix]">
                      <?php if ($product_option_value['price_prefix'] == '+') { ?>
                      <option value="+" selected="selected">+</option>
                      <?php } else { ?>
                      <option value="+">+</option>
                      <?php } ?>
                      <?php if ($product_option_value['price_prefix'] == '-') { ?>
                      <option value="-" selected="selected">-</option>
                      <?php } else { ?>
                      <option value="-">-</option>
                      <?php } ?>
                    </select>
                    <input type="text" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][price]" value="<?php echo $product_option_value['price']; ?>" size="5" /></td>
                  <td class="right"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][points_prefix]">
                      <?php if ($product_option_value['points_prefix'] == '+') { ?>
                      <option value="+" selected="selected">+</option>
                      <?php } else { ?>
                      <option value="+">+</option>
                      <?php } ?>
                      <?php if ($product_option_value['points_prefix'] == '-') { ?>
                      <option value="-" selected="selected">-</option>
                      <?php } else { ?>
                      <option value="-">-</option>
                      <?php } ?>
                    </select>
                    <input type="text" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][points]" value="<?php echo $product_option_value['points']; ?>" size="5" /></td>
                  <td class="right"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][weight_prefix]">
                      <?php if ($product_option_value['weight_prefix'] == '+') { ?>
                      <option value="+" selected="selected">+</option>
                      <?php } else { ?>
                      <option value="+">+</option>
                      <?php } ?>
                      <?php if ($product_option_value['weight_prefix'] == '-') { ?>
                      <option value="-" selected="selected">-</option>
                      <?php } else { ?>
                      <option value="-">-</option>
                      <?php } ?>
                    </select>
                    <input type="text" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][weight]" value="<?php echo $product_option_value['weight']; ?>" size="5" /></td>
                  <td class="left"><a onclick="$('#option-value-row<?php echo $option_value_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
                </tr>
              </tbody>
              <?php $option_value_row++; ?>
              <?php } ?>
              <tfoot>
                <tr>
                  <td colspan="6"></td>
                  <td class="left"><a onclick="addOptionValue('<?php echo $option_row; ?>');" class="button"><?php echo $button_add_option_value; ?></a></td>
                </tr>
              </tfoot>
            </table>
            <select id="option-values<?php echo $option_row; ?>" style="display: none;">
              <?php if (isset($option_values[$product_option['option_id']])) { ?>
              <?php foreach ($option_values[$product_option['option_id']] as $option_value) { ?>
              <option value="<?php echo $option_value['option_value_id']; ?>"><?php echo $option_value['name']; ?></option>
              <?php } ?>
              <?php } ?>
            </select>
            <?php } ?>
          </div>
          <?php $option_row++; ?>
          <?php } ?>
        </div>
        <div id="tab-discount">
          <table id="discount" class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_customer_group; ?></td>
                <td class="right"><?php echo $entry_quantity; ?></td>
                <td class="right"><?php echo $entry_priority; ?></td>
                <td class="right"><?php echo $entry_price; ?></td>
                <td class="left"><?php echo $entry_date_start; ?></td>
                <td class="left"><?php echo $entry_date_end; ?></td>

<?php if($do_edit) {?>
                <td class="left"><?php echo $tab_scheme;?>:</td>
<?php }?>	

                <td></td>
              </tr>
            </thead>
            <?php $discount_row = 0; ?>
            <?php foreach ($product_discounts as $product_discount) { ?>
            <tbody id="discount-row<?php echo $discount_row; ?>">
              <tr>

<?php if($do_edit) {?><input type="hidden" name="product_discount[<?php echo $discount_row; ?>][product_discount_id]" value="<?php echo $product_discount['product_discount_id'];?>" /><?php }?>


                <td class="left"><select name="product_discount[<?php echo $discount_row; ?>][customer_group_id]">
                    <?php foreach ($customer_groups as $customer_group) { ?>
                    <?php if ($customer_group['customer_group_id'] == $product_discount['customer_group_id']) { ?>
                    <option value="<?php echo $customer_group['customer_group_id']; ?>" selected="selected"><?php echo $customer_group['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
                <td class="right"><input type="text" name="product_discount[<?php echo $discount_row; ?>][quantity]" value="<?php echo $product_discount['quantity']; ?>" size="2" /></td>
                <td class="right"><input type="text" name="product_discount[<?php echo $discount_row; ?>][priority]" value="<?php echo $product_discount['priority']; ?>" size="2" /></td>
                <td class="right"><input type="text" name="product_discount[<?php echo $discount_row; ?>][price]" value="<?php echo $product_discount['price']; ?>" /></td>
                <td class="left"><input type="text" name="product_discount[<?php echo $discount_row; ?>][date_start]" value="<?php echo $product_discount['date_start']; ?>" class="date" /></td>
                <td class="left"><input type="text" name="product_discount[<?php echo $discount_row; ?>][date_end]" value="<?php echo $product_discount['date_end']; ?>" class="date" /></td>

<?php if($do_edit) {?>              
        				<td class="left">
        					<div style="padding:5px;">
        						<select name="product_discount[<?php echo $discount_row; ?>][scheme_id]">
										<?php foreach($schemes0 as $_sid => $_sname) {?>
											<option value="<?php echo $_sid;?>"<?php if($_sid == $product_discount['scheme_id']) {?> selected="selected"<?php }?>><?php echo $_sname;?></option>
										<?php }?>
										</select>
									</div>
									<?php if(isset($product_discount['product_discount_id']) && $product_discount['product_discount_id']) {?>
				        	<div style="padding:5px;"><a id="product_discount_<?php echo $product_discount['product_discount_id'];?>_affiliates_link" href="javascript:;"><?php echo $text_aff_schemes;?></a>
        					<?php foreach($schemes as $_sid => $_sname) {?>
        						<input type="hidden" id="product_discount_<?php echo $product_discount['product_discount_id'];?>_affiliates_<?php echo $_sid;?>" name="_product_discount_affiliates[<?php echo $discount_row; ?>][<?php echo $_sid;?>]" value="" />
        					<?php }?>
        					</div>								
        					<?php }?>
                </td>                 
<?php }?>


                <td class="left"><a onclick="$('#discount-row<?php echo $discount_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
              </tr>
            </tbody>
            <?php $discount_row++; ?>
            <?php } ?>
            <tfoot>
              <tr>
                <td colspan="6"></td>
                <td class="left"><a onclick="addDiscount();" class="button"><?php echo $button_add_discount; ?></a></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="tab-special">
          <table id="special" class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_customer_group; ?></td>
                <td class="right"><?php echo $entry_priority; ?></td>
                <td class="right"><?php echo $entry_price; ?></td>
                <td class="left"><?php echo $entry_date_start; ?></td>
                <td class="left"><?php echo $entry_date_end; ?></td>

<?php if($do_edit) {?>
                <td class="left"><?php echo $tab_scheme;?>:</td>
<?php }?>	

                <td></td>
              </tr>
            </thead>
            <?php $special_row = 0; ?>
            <?php foreach ($product_specials as $product_special) { ?>
            <tbody id="special-row<?php echo $special_row; ?>">
              <tr>

<?php if($do_edit) {?><input type="hidden" name="product_special[<?php echo $special_row; ?>][product_special_id]" value="<?php echo $product_special['product_special_id'];?>" /><?php }?>


                <td class="left"><select name="product_special[<?php echo $special_row; ?>][customer_group_id]">
                    <?php foreach ($customer_groups as $customer_group) { ?>
                    <?php if ($customer_group['customer_group_id'] == $product_special['customer_group_id']) { ?>
                    <option value="<?php echo $customer_group['customer_group_id']; ?>" selected="selected"><?php echo $customer_group['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
                <td class="right"><input type="text" name="product_special[<?php echo $special_row; ?>][priority]" value="<?php echo $product_special['priority']; ?>" size="2" /></td>
                <td class="right"><input type="text" name="product_special[<?php echo $special_row; ?>][price]" value="<?php echo $product_special['price']; ?>" /></td>
                <td class="left"><input type="text" name="product_special[<?php echo $special_row; ?>][date_start]" value="<?php echo $product_special['date_start']; ?>" class="date" /></td>
                <td class="left"><input type="text" name="product_special[<?php echo $special_row; ?>][date_end]" value="<?php echo $product_special['date_end']; ?>" class="date" /></td>

<?php if($do_edit) {?>
        				<td class="left">
        					<div style="padding:5px;">
        						<select name="product_special[<?php echo $special_row; ?>][scheme_id]">
										<?php foreach($schemes0 as $_sid => $_sname) {?>
											<option value="<?php echo $_sid;?>"<?php if($_sid == $product_special['scheme_id']) {?> selected="selected"<?php }?>><?php echo $_sname;?></option>
										<?php }?>
										</select>
									</div>
									<?php if(isset($product_special['product_special_id']) && $product_special['product_special_id']) {?>
				        	<div style="padding:5px;"><a id="product_special_<?php echo $product_special['product_special_id'];?>_affiliates_link" href="javascript:;"><?php echo $text_aff_schemes;?></a>
        					<?php foreach($schemes as $_sid => $_sname) {?>
        						<input type="hidden" id="product_special_<?php echo $product_special['product_special_id'];?>_affiliates_<?php echo $_sid;?>" name="_product_special_affiliates[<?php echo $special_row; ?>][<?php echo $_sid;?>]" value="" />
        					<?php }?>
        					</div>								
        					<?php }?>
                </td>                 
<?php }?>


                <td class="left"><a onclick="$('#special-row<?php echo $special_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
              </tr>
            </tbody>
            <?php $special_row++; ?>
            <?php } ?>
            <tfoot>
              <tr>
                <td colspan="5"></td>
                <td class="left"><a onclick="addSpecial();" class="button"><?php echo $button_add_special; ?></a></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="tab-image">
          <table id="images" class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_image; ?></td>
                <td class="right"><?php echo $entry_sort_order; ?></td>
                <td></td>
              </tr>
            </thead>
            <?php $image_row = 0; ?>
            <?php foreach ($product_images as $product_image) { ?>
            <tbody id="image-row<?php echo $image_row; ?>">
              <tr>
                <td class="left"><div class="image"><img src="<?php echo $product_image['thumb']; ?>" alt="" id="thumb<?php echo $image_row; ?>" />
                    <input type="hidden" name="product_image[<?php echo $image_row; ?>][image]" value="<?php echo $product_image['image']; ?>" id="image<?php echo $image_row; ?>" />
                    <br />
                    <a onclick="image_upload('image<?php echo $image_row; ?>', 'thumb<?php echo $image_row; ?>');"><?php echo $text_browse; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb<?php echo $image_row; ?>').attr('src', '<?php echo $no_image; ?>'); $('#image<?php echo $image_row; ?>').attr('value', '');"><?php echo $text_clear; ?></a></div></td>
                <td class="right"><input type="text" name="product_image[<?php echo $image_row; ?>][sort_order]" value="<?php echo $product_image['sort_order']; ?>" size="2" /></td>
                <td class="left"><a onclick="$('#image-row<?php echo $image_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
              </tr>
            </tbody>
            <?php $image_row++; ?>
            <?php } ?>
            <tfoot>
              <tr>
                <td colspan="2"></td>
                <td class="left"><a onclick="addImage();" class="button"><?php echo $button_add_image; ?></a></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div id="tab-reward">
          <table class="form">
            <tr>
              <td><?php echo $entry_points; ?></td>
              <td><input type="text" name="points" value="<?php echo $points; ?>" /></td>
            </tr>
          </table>
          <table class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_customer_group; ?></td>
                <td class="right"><?php echo $entry_reward; ?></td>
              </tr>
            </thead>
            <?php foreach ($customer_groups as $customer_group) { ?>
            <tbody>
              <tr>
                <td class="left"><?php echo $customer_group['name']; ?></td>
                <td class="right"><input type="text" name="product_reward[<?php echo $customer_group['customer_group_id']; ?>][points]" value="<?php echo isset($product_reward[$customer_group['customer_group_id']]) ? $product_reward[$customer_group['customer_group_id']]['points'] : ''; ?>" /></td>
              </tr>
            </tbody>
            <?php } ?>
          </table>
        </div>
        <div id="tab-design">
          <table class="list">
            <thead>
              <tr>
                <td class="left"><?php echo $entry_store; ?></td>
                <td class="left"><?php echo $entry_layout; ?></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left"><?php echo $text_default; ?></td>
                <td class="left"><select name="product_layout[0][layout_id]">
                    <option value=""></option>
                    <?php foreach ($layouts as $layout) { ?>
                    <?php if (isset($product_layout[0]) && $product_layout[0] == $layout['layout_id']) { ?>
                    <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
              </tr>
            </tbody>
            <?php foreach ($stores as $store) { ?>
            <tbody>
              <tr>
                <td class="left"><?php echo $store['name']; ?></td>
                <td class="left"><select name="product_layout[<?php echo $store['store_id']; ?>][layout_id]">
                    <option value=""></option>
                    <?php foreach ($layouts as $layout) { ?>
                    <?php if (isset($product_layout[$store['store_id']]) && $product_layout[$store['store_id']] == $layout['layout_id']) { ?>
                    <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                    <?php } else { ?>
                    <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                    <?php } ?>
                    <?php } ?>
                  </select></td>
              </tr>
            </tbody>
            <?php } ?>
          </table>
        </div>

	  <input type="hidden" value="<?php echo $product_bid_id; ?>" id="auction_id" name="auction_id">
	   
	<input type="hidden" value="<?php echo $product_id; ?>" id="product_id" name="product_id">
	
	
		<div id="tab-auction">        
		<fieldset id="fieldset_1">			
		<legend>			<?php echo $entry_auction; ?>					
		</legend>			<div class="margin-form">																<?php if($use_end_time_on){?>			<input type="checkbox" value="1" class="" id="use_end_time_on" name="use_end_time_on" checked="checked">			<?php } else{?>				<input type="checkbox" value="1" class="" id="use_end_time_on" name="use_end_time_on">			<?php } ?>				<label class="t" for="use_end_time_on"><strong><?php echo $entry_end_time; ?></strong></label><br>					<p class="preference_description"><?php echo $entry_end_desc; ?></p>			</div>				<div class="clear"></div>					<div class="margin-form">                   <?php if($use_max_price_on){?>										
		<input type="checkbox" value="1" class="" id="use_max_price_on" name="use_max_price_on" checked="checked">					<?php } else{?>										<input type="checkbox" value="1" class="" id="use_max_price_on" name="use_max_price_on">					<?php } ?>					<label class="t" for="use_max_price_on"><strong><?php echo $entry_max; ?></strong></label><br>						<p class="preference_description"><?php echo $entry_max_desc; ?></p>					</div>				<div class="clear"></div>				<div class="small"><span class="required">*</span> Required field</div>		</fieldset>				<br/>		<fieldset id="fieldset_2">			<legend><?php echo $auction_settings; ?></legend>				<div class="margin-form">				  
		<?php if($status_on){?>					<input type="checkbox" value="1" class="" id="status_on" name="status_on" checked="checked">									<?php } else{?>								<input type="checkbox" value="1" class="" id="status_on" name="status_on" >								<?php } ?>					<label class="t" for="status_on"><strong><?php echo $auction_status; ?></strong></label><br/>				</div>					<div class="clear"></div>											<label><?php echo $auction_start; ?></label>											
		<div class="margin-form">					
		<input type="text" maxlength="10" size="20" class="date" value="<?php echo $start_time; ?>" id="start_time" name="start_time">				   
		<span class="required">*</span><p class="preference_description"><?php echo $auction_start_desc; ?></p>		
		<?php if ($error_start) { ?>                <span class="error"><?php echo $error_start; ?></span>        
        <?php } ?>				</div>				
		<div class="clear"></div>							
		<label><?php echo $auction_end; ?></label>			
		<div class="margin-form">					
		<input type="text" maxlength="10" size="20" class="date" value="<?php echo $end_time; ?>" id="end_time" name="end_time">					
		<p class="preference_description"><?php echo $auction_end_desc; ?></p>	
		
		<?php if ($error_end_time) { ?>              
		<span class="error"><?php echo $error_end_time; ?></span>               
		<?php } ?>				
		
		</div>					
		<div class="clear"></div>											
		
		<label><?php echo $auction_tax; ?></label>						
		<div class="margin-form">												
		<select id="id_tax" class="" name="id_tax">					
		<option value="0"><?php echo $text_none; ?></option>                  <?php foreach ($tax_classes as $tax_class) { ?>                  <?php if ($tax_class['tax_class_id'] == $id_tax) { ?>                  <option value="<?php echo $tax_class['tax_class_id']; ?>" selected="selected"><?php echo $tax_class['title']; ?></option>                  <?php } else { ?>                  <option value="<?php echo $tax_class['tax_class_id']; ?>"><?php echo $tax_class['title']; ?></option>                  <?php } ?>                  <?php } ?>					</select><p class="preference_description"><?php echo $auction_tax_desc; ?>	</p>		        </div>					<div class="clear"></div>											<label><?php echo $auction_starting; ?>	</label>											
		
		<div class="margin-form">								
		<input type="text" maxlength="10" size="20" name="start_price" value="<?php echo $start_price; ?>"> 	
		<span class="required">*</span><p class="preference_description"><?php echo $auction_starting_desc;?></p>				
		
		<?php if ($error_bid_price) { ?>               
		<span class="error"><?php echo $error_bid_price; ?></span>             
		<?php } ?>																</div>				<div class="clear"></div>											<label><?php echo $auction_max; ?></label>											
		
		<div class="margin-form">					
		<input type="text" maxlength="10" size="20" name="max_price" value="<?php echo $max_price; ?>">		
					
		
		<p class="preference_description"><?php echo $auction_max_desc; ?></p>			


      <?php if ($error_max_price) { ?>             
		<span class="error"><?php echo $error_max_price; ?></span>     
		<?php } ?>

		</div>		



		<div class="clear"></div>											<label><?php echo $auction_min; ?></label>											<div class="margin-form">				<input type="text" maxlength="10" size="20" name="min_offer_step" value="<?php echo $min_offer_step; ?>">				<p class="preference_description"><?php echo $auction_min_desc; ?></p>				</div>				<div class="clear"></div>												<label><?php echo $auction_auto; ?></label>											<div class="margin-form">				<input type="text" maxlength="10" size="20" name="autobid_step"  value="<?php echo $autobid_step; ?>">				<p class="preference_description"><?php echo $auction_auto_desc; ?></p>				</div>				<div class="clear"></div>												<label><?php echo $auction_time; ?></label>											<div class="margin-form">				<input type="text" maxlength="10" size="20" id="bids_interval" name="bids_interval" class="time" value="<?php echo $bids_interval; ?>">				<p class="preference_description"><?php echo $auction_time_desc; ?></p>				</div>				<div class="clear"></div>							</fieldset>        </div>	
			

<?php if($do_edit) {?>
        <div id="tab-scheme">
					<table class="form">
        		<tr>
        			<td><h4><?php echo $entry_product;?></h4></td>
        			<td>
								<select name="product_scheme_id">
								<?php foreach($schemes0 as $_sid => $_sname) {?>
									<option value="<?php echo $_sid;?>"<?php if($_sid == $product_scheme_id) {?> selected="selected"<?php }?>><?php echo $_sname;?></option>
								<?php }?>
								</select>
							</td>        	
            </tr>
        	</table>
        	<div style="padding:5px;"><a id="product_affiliates_link" href="javascript:;"><?php echo $text_aff_schemes;?></a>
        		<?php foreach($schemes as $_sid => $_sname) {?>
        		<input type="hidden" id="product_affiliates_<?php echo $_sid;?>" name="_product_affiliates[<?php echo $_sid;?>]" value="" />
        		<?php }?>
        	</div>
					<table class="form">
        		<tr>
        			<td><h4><?php echo $entry_coupons;?></h4></td>
            </tr>
        	</table>
        	<table class="list">
        		<thead>
        			<tr>
        				<td class="right"><?php echo $column_coupon;?></td>
        				<td class="left"><?php echo $column_mta_scheme;?></td>
        			</tr>
        		</thead>
        		<tbody>
        		<?php foreach($coupons as $coupon) {?>
        			<tr>
        				<td class="right"><?php echo $coupon['description'];?></td>
        				<td class="left">
        					<div style="padding:5px;">
        						<select name="product_coupon_scheme_id[<?php echo $coupon['id'];?>]">
										<?php foreach($schemes0 as $_sid => $_sname) {?>
											<option value="<?php echo $_sid;?>"<?php if($_sid == $coupon['scheme_id']) {?> selected="selected"<?php }?>><?php echo $_sname;?></option>
										<?php }?>
										</select>
									</div>
				        	<div style="padding:5px;"><a id="product_coupon_<?php echo $coupon['id'];?>_affiliates_link" href="javascript:;"><?php echo $text_aff_schemes;?></a>
        					<?php foreach($schemes as $_sid => $_sname) {?>
        						<input type="hidden" id="product_coupon_<?php echo $coupon['id'];?>_affiliates_<?php echo $_sid;?>" name="_product_coupon_affiliates[<?php echo $coupon['id'];?>][<?php echo $_sid;?>]" value="" />
        					<?php }?>
        					</div>								
        				</td>
        		<?php }?>
        		</tbody>
        	</table>
		</div>
<?php }?>

      </form>
    </div>
  </div>
</div>

<?php if($do_edit) {?>
<div style="background-color:#efefef;border:2px solid #ababab;z-index:99999999;display:none;" id="affiliate_dt_overlay_div"><div style="text-align:right;padding-right:5px;"><a class="overlay_close"><?php echo $oy_close;?></a><div style="text-align:center;font-weight:bold;"><?php echo $oy_title;?><hr /></div><div style="height:400px;width:850px;overflow-y:auto;margin:3px;padding:5px;">
<table cellpadding="0" cellspacing="0" border="0" id="affiliate_dt" style="width:95%">
	<thead>
		<tr>
			<th width="5%"><?php echo $oy_id;?></th>
			<th width="20%"><?php echo $oy_name;?></th>
			<th width="20%"><?php echo $oy_email;?></th>
			<th width="20%"><?php echo $oy_scheme;?></th>
			<th width="5%"><?php echo $oy_level;?></th>
			<th width="10%"><?php echo $oy_balance;?></th>			
			<th width="20%"><?php echo $oy_date_added;?></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="7" class="dataTables_empty"><?php echo $oy_loading;?></td>

		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th><?php echo $oy_id;?></th>
			<th><?php echo $oy_name;?></th>
			<th><?php echo $oy_email;?></th>
			<th><?php echo $oy_scheme;?></th>
			<th><?php echo $oy_level;?></th>
			<th><?php echo $oy_balance;?></th>			
			<th><?php echo $oy_date_added;?></th>
		</tr>
	</tfoot>
</table>
</div>
<div style="text-align:center;"><hr /><input type="button" id="affiliate_dt_save_button" value="" /></div>
<div style="text-align:right;padding-right:5px;"><a class="overlay_close"><?php echo $oy_close;?></a></div>
</div>
<?php }?>

<script type="text/javascript" src="view/javascript/ckeditor/ckeditor.js"></script> 
<script type="text/javascript"><!--
<?php foreach ($languages as $language) { ?>
CKEDITOR.replace('description<?php echo $language['language_id']; ?>', {
	filebrowserBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
	filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
	filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
	filebrowserUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
	filebrowserImageUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>',
	filebrowserFlashUploadUrl: 'index.php?route=common/filemanager&token=<?php echo $token; ?>'
});
<?php } ?>
//--></script> 
<script type="text/javascript"><!--
$.widget('custom.catcomplete', $.ui.autocomplete, {
	_renderMenu: function(ul, items) {
		var self = this, currentCategory = '';
		
		$.each(items, function(index, item) {
			if (item.category != currentCategory) {
				ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
				
				currentCategory = item.category;
			}
			
			self._renderItem(ul, item);
		});
	}
});

// Manufacturer
$('input[name=\'manufacturer\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/manufacturer/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.manufacturer_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'manufacturer\']').attr('value', ui.item.label);
		$('input[name=\'manufacturer_id\']').attr('value', ui.item.value);
	
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

// Category
$('input[name=\'category\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.category_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#product-category' + ui.item.value).remove();
		
		$('#product-category').append('<div id="product-category' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_category[]" value="' + ui.item.value + '" /></div>');

		$('#product-category div:odd').attr('class', 'odd');
		$('#product-category div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

$('#product-category div img').live('click', function() {
	$(this).parent().remove();
	
	$('#product-category div:odd').attr('class', 'odd');
	$('#product-category div:even').attr('class', 'even');	
});

// Filter
$('input[name=\'filter\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.filter_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#product-filter' + ui.item.value).remove();
		
		$('#product-filter').append('<div id="product-filter' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_filter[]" value="' + ui.item.value + '" /></div>');

		$('#product-filter div:odd').attr('class', 'odd');
		$('#product-filter div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

$('#product-filter div img').live('click', function() {
	$(this).parent().remove();
	
	$('#product-filter div:odd').attr('class', 'odd');
	$('#product-filter div:even').attr('class', 'even');	
});

// Downloads
$('input[name=\'download\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/download/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.download_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#product-download' + ui.item.value).remove();
		
		$('#product-download').append('<div id="product-download' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_download[]" value="' + ui.item.value + '" /></div>');

		$('#product-download div:odd').attr('class', 'odd');
		$('#product-download div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

$('#product-download div img').live('click', function() {
	$(this).parent().remove();
	
	$('#product-download div:odd').attr('class', 'odd');
	$('#product-download div:even').attr('class', 'even');	
});

// Related
$('input[name=\'related\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.product_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('#product-related' + ui.item.value).remove();
		
		$('#product-related').append('<div id="product-related' + ui.item.value + '">' + ui.item.label + '<img src="view/image/delete.png" alt="" /><input type="hidden" name="product_related[]" value="' + ui.item.value + '" /></div>');

		$('#product-related div:odd').attr('class', 'odd');
		$('#product-related div:even').attr('class', 'even');
				
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});

$('#product-related div img').live('click', function() {
	$(this).parent().remove();
	
	$('#product-related div:odd').attr('class', 'odd');
	$('#product-related div:even').attr('class', 'even');	
});
//--></script> 
<script type="text/javascript"><!--
var attribute_row = <?php echo $attribute_row; ?>;

function addAttribute() {
	html  = '<tbody id="attribute-row' + attribute_row + '">';
    html += '  <tr>';
	html += '    <td class="left"><input type="text" name="product_attribute[' + attribute_row + '][name]" value="" /><input type="hidden" name="product_attribute[' + attribute_row + '][attribute_id]" value="" /></td>';
	html += '    <td class="left">';
	<?php foreach ($languages as $language) { ?>
	html += '<textarea name="product_attribute[' + attribute_row + '][product_attribute_description][<?php echo $language['language_id']; ?>][text]" cols="40" rows="5"></textarea><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" align="top" /><br />';
    <?php } ?>
	html += '    </td>';
	html += '    <td class="left"><a onclick="$(\'#attribute-row' + attribute_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
    html += '  </tr>';	
    html += '</tbody>';
	
	$('#attribute tfoot').before(html);
	
	attributeautocomplete(attribute_row);
	
	attribute_row++;
}

function attributeautocomplete(attribute_row) {
	$('input[name=\'product_attribute[' + attribute_row + '][name]\']').catcomplete({
		delay: 500,
		source: function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/attribute/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
				dataType: 'json',
				success: function(json) {	
					response($.map(json, function(item) {
						return {
							category: item.attribute_group,
							label: item.name,
							value: item.attribute_id
						}
					}));
				}
			});
		}, 
		select: function(event, ui) {
			$('input[name=\'product_attribute[' + attribute_row + '][name]\']').attr('value', ui.item.label);
			$('input[name=\'product_attribute[' + attribute_row + '][attribute_id]\']').attr('value', ui.item.value);
			
			return false;
		},
		focus: function(event, ui) {
      		return false;
   		}
	});
}

$('#attribute tbody').each(function(index, element) {
	attributeautocomplete(index);
});
//--></script> 
<script type="text/javascript"><!--	
var option_row = <?php echo $option_row; ?>;

$('input[name=\'option\']').catcomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/option/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						category: item.category,
						label: item.name,
						value: item.option_id,
						type: item.type,
						option_value: item.option_value
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		html  = '<div id="tab-option-' + option_row + '" class="vtabs-content">';
		html += '	<input type="hidden" name="product_option[' + option_row + '][product_option_id]" value="" />';
		html += '	<input type="hidden" name="product_option[' + option_row + '][name]" value="' + ui.item.label + '" />';
		html += '	<input type="hidden" name="product_option[' + option_row + '][option_id]" value="' + ui.item.value + '" />';
		html += '	<input type="hidden" name="product_option[' + option_row + '][type]" value="' + ui.item.type + '" />';
		html += '	<table class="form">';
		html += '	  <tr>';
		html += '		<td><?php echo $entry_required; ?></td>';
		html += '       <td><select name="product_option[' + option_row + '][required]">';
		html += '	      <option value="1"><?php echo $text_yes; ?></option>';
		html += '	      <option value="0"><?php echo $text_no; ?></option>';
		html += '	    </select></td>';
		html += '     </tr>';
		
		if (ui.item.type == 'text') {
			html += '     <tr>';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><input type="text" name="product_option[' + option_row + '][option_value]" value="" /></td>';
			html += '     </tr>';
		}
		
		if (ui.item.type == 'textarea') {
			html += '     <tr>';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><textarea name="product_option[' + option_row + '][option_value]" cols="40" rows="5"></textarea></td>';
			html += '     </tr>';						
		}
		 
		if (ui.item.type == 'file') {
			html += '     <tr style="display: none;">';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><input type="text" name="product_option[' + option_row + '][option_value]" value="" /></td>';
			html += '     </tr>';			
		}
						
		if (ui.item.type == 'date') {
			html += '     <tr>';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><input type="text" name="product_option[' + option_row + '][option_value]" value="" class="date" /></td>';
			html += '     </tr>';			
		}
		
		if (ui.item.type == 'datetime') {
			html += '     <tr>';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><input type="text" name="product_option[' + option_row + '][option_value]" value="" class="datetime" /></td>';
			html += '     </tr>';			
		}
		
		if (ui.item.type == 'time') {
			html += '     <tr>';
			html += '       <td><?php echo $entry_option_value; ?></td>';
			html += '       <td><input type="text" name="product_option[' + option_row + '][option_value]" value="" class="time" /></td>';
			html += '     </tr>';			
		}
		
		html += '  </table>';
			
		if (ui.item.type == 'select' || ui.item.type == 'radio' || ui.item.type == 'checkbox' || ui.item.type == 'image') {
			html += '  <table id="option-value' + option_row + '" class="list">';
			html += '  	 <thead>'; 
			html += '      <tr>';
			html += '        <td class="left"><?php echo $entry_option_value; ?></td>';
			html += '        <td class="right"><?php echo $entry_quantity; ?></td>';
			html += '        <td class="left"><?php echo $entry_subtract; ?></td>';
			html += '        <td class="right"><?php echo $entry_price; ?></td>';
			html += '        <td class="right"><?php echo $entry_option_points; ?></td>';
			html += '        <td class="right"><?php echo $entry_weight; ?></td>';
			html += '        <td></td>';
			html += '      </tr>';
			html += '  	 </thead>';
			html += '    <tfoot>';
			html += '      <tr>';
			html += '        <td colspan="6"></td>';
			html += '        <td class="left"><a onclick="addOptionValue(' + option_row + ');" class="button"><?php echo $button_add_option_value; ?></a></td>';
			html += '      </tr>';
			html += '    </tfoot>';
			html += '  </table>';
            html += '  <select id="option-values' + option_row + '" style="display: none;">';
			
            for (i = 0; i < ui.item.option_value.length; i++) {
				html += '  <option value="' + ui.item.option_value[i]['option_value_id'] + '">' + ui.item.option_value[i]['name'] + '</option>';
            }

            html += '  </select>';			
			html += '</div>';	
		}
		
		$('#tab-option').append(html);
		
		$('#option-add').before('<a href="#tab-option-' + option_row + '" id="option-' + option_row + '">' + ui.item.label + '&nbsp;<img src="view/image/delete.png" alt="" onclick="$(\'#option-' + option_row + '\').remove(); $(\'#tab-option-' + option_row + '\').remove(); $(\'#vtab-option a:first\').trigger(\'click\'); return false;" /></a>');
		
		$('#vtab-option a').tabs();
		
		$('#option-' + option_row).trigger('click');		
		
		$('.date').datepicker({dateFormat: 'yy-mm-dd'});
		$('.datetime').datetimepicker({
			dateFormat: 'yy-mm-dd',
			timeFormat: 'h:m'
		});	
			
		$('.time').timepicker({timeFormat: 'h:m'});	
				
		option_row++;
		
		return false;
	},
	focus: function(event, ui) {
      return false;
   }
});
//--></script> 
<script type="text/javascript"><!--		
var option_value_row = <?php echo $option_value_row; ?>;

function addOptionValue(option_row) {	
	html  = '<tbody id="option-value-row' + option_value_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][option_value_id]">';
	html += $('#option-values' + option_row).html();
	html += '    </select><input type="hidden" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][product_option_value_id]" value="" /></td>';
	html += '    <td class="right"><input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][quantity]" value="" size="3" /></td>'; 
	html += '    <td class="left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][subtract]">';
	html += '      <option value="1"><?php echo $text_yes; ?></option>';
	html += '      <option value="0"><?php echo $text_no; ?></option>';
	html += '    </select></td>';
	html += '    <td class="right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price_prefix]">';
	html += '      <option value="+">+</option>';
	html += '      <option value="-">-</option>';
	html += '    </select>';
	html += '    <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price]" value="" size="5" /></td>';
	html += '    <td class="right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][points_prefix]">';
	html += '      <option value="+">+</option>';
	html += '      <option value="-">-</option>';
	html += '    </select>';
	html += '    <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][points]" value="" size="5" /></td>';	
	html += '    <td class="right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][weight_prefix]">';
	html += '      <option value="+">+</option>';
	html += '      <option value="-">-</option>';
	html += '    </select>';
	html += '    <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][weight]" value="" size="5" /></td>';
	html += '    <td class="left"><a onclick="$(\'#option-value-row' + option_value_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';
	html += '</tbody>';
	
	$('#option-value' + option_row + ' tfoot').before(html);

	option_value_row++;
}
//--></script> 
<script type="text/javascript"><!--
var discount_row = <?php echo $discount_row; ?>;

function addDiscount() {
	html  = '<tbody id="discount-row' + discount_row + '">';
	html += '  <tr>'; 
    html += '    <td class="left"><select name="product_discount[' + discount_row + '][customer_group_id]">';
    <?php foreach ($customer_groups as $customer_group) { ?>
    html += '      <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>';
    <?php } ?>
    html += '    </select></td>';		
    html += '    <td class="right"><input type="text" name="product_discount[' + discount_row + '][quantity]" value="" size="2" /></td>';
    html += '    <td class="right"><input type="text" name="product_discount[' + discount_row + '][priority]" value="" size="2" /></td>';
	html += '    <td class="right"><input type="text" name="product_discount[' + discount_row + '][price]" value="" /></td>';
    html += '    <td class="left"><input type="text" name="product_discount[' + discount_row + '][date_start]" value="" class="date" /></td>';
	html += '    <td class="left"><input type="text" name="product_discount[' + discount_row + '][date_end]" value="" class="date" /></td>';

<?php if($do_edit) {?>
	html += '<td class="left"><div style="padding:5px;"><select name="product_discount[' + discount_row + '][scheme_id]">';
<?php foreach($schemes0 as $_sid => $_sname) {?>
	html +='<option value="<?php echo $_sid;?>"><?php echo mta_jsstr($_sname);?></option>';
<?php }?>
	html +='</select></div></td>';
<?php }?>


	html += '    <td class="left"><a onclick="$(\'#discount-row' + discount_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';	
    html += '</tbody>';
	
	$('#discount tfoot').before(html);
		
	$('#discount-row' + discount_row + ' .date').datepicker({dateFormat: 'yy-mm-dd'});
	
	discount_row++;
}
//--></script> 
<script type="text/javascript"><!--
var special_row = <?php echo $special_row; ?>;

function addSpecial() {
	html  = '<tbody id="special-row' + special_row + '">';
	html += '  <tr>'; 
    html += '    <td class="left"><select name="product_special[' + special_row + '][customer_group_id]">';
    <?php foreach ($customer_groups as $customer_group) { ?>
    html += '      <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>';
    <?php } ?>
    html += '    </select></td>';		
    html += '    <td class="right"><input type="text" name="product_special[' + special_row + '][priority]" value="" size="2" /></td>';
	html += '    <td class="right"><input type="text" name="product_special[' + special_row + '][price]" value="" /></td>';
    html += '    <td class="left"><input type="text" name="product_special[' + special_row + '][date_start]" value="" class="date" /></td>';
	html += '    <td class="left"><input type="text" name="product_special[' + special_row + '][date_end]" value="" class="date" /></td>';

<?php if($do_edit) {?>
	html += '<td class="left"><div style="padding:5px;"><select name="product_special[' + special_row + '][scheme_id]">';
<?php foreach($schemes0 as $_sid => $_sname) {?>
	html +='<option value="<?php echo $_sid;?>"><?php echo mta_jsstr($_sname);?></option>';
<?php }?>
	html +='</select></div></td>';	
<?php }?>




	html += '    <td class="left"><a onclick="$(\'#special-row' + special_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';
    html += '</tbody>';
	
	$('#special tfoot').before(html);
 
	$('#special-row' + special_row + ' .date').datepicker({dateFormat: 'yy-mm-dd'});
	
	special_row++;
}
//--></script> 
<script type="text/javascript"><!--
function image_upload(field, thumb) {
	$('#dialog').remove();
	
	$('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token=<?php echo $token; ?>&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
	
	$('#dialog').dialog({
		title: '<?php echo $text_image_manager; ?>',
		close: function (event, ui) {
			if ($('#' + field).attr('value')) {
				$.ajax({
					url: 'index.php?route=common/filemanager/image&token=<?php echo $token; ?>&image=' + encodeURIComponent($('#' + field).attr('value')),
					dataType: 'text',
					success: function(text) {
						$('#' + thumb).replaceWith('<img src="' + text + '" alt="" id="' + thumb + '" />');
					}
				});
			}
		},	
		bgiframe: false,
		width: 800,
		height: 400,
		resizable: false,
		modal: false
	});
};
//--></script> 
<script type="text/javascript"><!--
var image_row = <?php echo $image_row; ?>;

function addImage() {
    html  = '<tbody id="image-row' + image_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><div class="image"><img src="<?php echo $no_image; ?>" alt="" id="thumb' + image_row + '" /><input type="hidden" name="product_image[' + image_row + '][image]" value="" id="image' + image_row + '" /><br /><a onclick="image_upload(\'image' + image_row + '\', \'thumb' + image_row + '\');"><?php echo $text_browse; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$(\'#thumb' + image_row + '\').attr(\'src\', \'<?php echo $no_image; ?>\'); $(\'#image' + image_row + '\').attr(\'value\', \'\');"><?php echo $text_clear; ?></a></div></td>';
	html += '    <td class="right"><input type="text" name="product_image[' + image_row + '][sort_order]" value="" size="2" /></td>';
	html += '    <td class="left"><a onclick="$(\'#image-row' + image_row  + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';
	html += '</tbody>';
	
	$('#images tfoot').before(html);
	
	image_row++;
}
//--></script> 
<script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript"><!--
$('.date').datepicker({dateFormat: 'yy-mm-dd'});
$('.datetime').datetimepicker({
	dateFormat: 'yy-mm-dd',
	timeFormat: 'h:m'
});
$('.time').timepicker({timeFormat: 'h:m'});
//--></script> 
<script type="text/javascript"><!--
$('#tabs a').tabs(); 
$('#languages a').tabs(); 
$('#vtab-option a').tabs();
//--></script> 

<?php if($do_edit) {?>
<script type="text/javascript" src="view/javascript/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="view/javascript/jquery.tools.min.js"></script>

<script type="text/javascript"><!--
	
	$(document).ready(function() {
		var _loaded = {};
		var _loading = false;
		var _ovl_params = {
      mask: {
      	color: '#efefef',
        loadSpeed: 250,
        zIndex: '999999959',
      	opacity: 0.9
      },
      closeOnClick: false
    }
    
	$.fn._make_aff_table = function() {
		return this.each(function() {
		var pfx = $(this).attr('id').replace(/_link$/, '');
		var _str = '<?php 
		
		$_str = '<table class="list" id="^^^+pfx+^^^_table" style="display:none;width:50%;"> 
						<thead> 
							<td class="right">' . $column_mta_scheme . '</td> 
							<td class="left">' . $column_affiliates . '</td>							
						</thead> 
						<tbody>'; 
		foreach($schemes as $_sid => $_sname) {
			$_str .= '
							<tr>
								<td class="right">' . $_sname . '
								</td>
								<td class="left">
									<div>
										<span id="^^^+pfx+^^^_total_' . $_sid . '" style="font-weight:bold;">0</span> 										<a id="^^^+pfx+^^^_edit_' . $_sid . '" href="javascript:;" style="display:none;" rel="#affiliate_dt_overlay_div">' . $text_edit . '</a>
									</div>
									<div>
										<a id="^^^+pfx+^^^_add_' . $_sid . '" href="javascript:;" rel="#affiliate_dt_overlay_div">' . $text_add . '</a>																
									</div>
								</td>
							</tr>';
		}
		$_str .= '</tbody>
					</table>';
		$_str = mta_esqq(str_replace(array("\r", "\n"), array('', ''), $_str));
		$_str = str_replace('^^^', "'", $_str);
		echo $_str;
		?>';
		$(this).parent().after(_str);
		});
	}    

		var _dataTable = function(filter_ids, input_sel, total_sel, pfx, _this) {
			var _ids = $(input_sel).val();
			if(filter_ids == 'exclude') {
				var _all_ids = [];
				$('input[id^="'+pfx+'_"]').each(function() {
					if($(this).val().length > 0) _all_ids.push($(this).val());
				});
				_all_ids = _all_ids.join(',');
			} else {
				var _all_ids = _ids;
			}
			//console.log('input: '+input_sel);//-tmp
			//console.log('total: '+total_sel);//-tmp
			
    	$('#affiliate_dt').dataTable({
    		'bDestroy' : true,
        'bProcessing': true,
        'bServerSide': true,
        'sAjaxSource': document.location.href.replace(/catalog\/product(?:\/\w*)/, 'sale/mta_affiliate_dt'),
        'sServerMethod' : 'POST',
        'sPaginationType' : 'full_numbers',
        'iDisplayLength' : 25,
        'aoColumns': [
        		{ 'mDataProp': 'id', 'bSearchable' : false, 'bSortable' : false },
            { 'mDataProp': 'name' },
            { 'mDataProp': 'email' },
            { 'mDataProp': 'scheme', 'bSearchable' : false, 'bSortable' : false },            
            { 'mDataProp': 'level', 'bSearchable' : false},
            { 'mDataProp': 'balance', 'bSearchable' : false, 'bSortable' : false},
            { 'mDataProp': 'date_added', 'bSearchable' : false  }
        ],

    			'fnServerParams': function (aoData) {
      			aoData.push({'name' : 'filter_ids', 'value' : filter_ids});
      			aoData.push({'name' : 'ids', 'value' : _all_ids});
    			},
    			
      	  'fnDrawCallback': function() { 
      	  	$('.affiliate_dt_row').each(function() {  
      	  		var _chbv = $(this).find('td:first').text();
            	$($(this).find('td:first')).prepend('<input type="checkbox" value="'+_chbv+'" />');
            });
						$('.overlay_close').click(function() {
							$(_this).overlay().close();					
						});            
            $('#affiliate_dt_save_button').click(function () {
            	var _ids_ar = _ids.length > 0 ? _ids.split(',') : [];
            	var _preselected_ids = [];
            	var _selected_ids = [];
            	$('.affiliate_dt_row :checked').each(function() {
            		_preselected_ids.push($(this).val());
            	});							
            	//console.log('pre ids: '+_preselected_ids);//-tmp
            	if(filter_ids == 'include') {
        				for(var _i = 0; _i < _ids_ar.length; _i++) {
        					if($.inArray(_ids_ar[_i], _preselected_ids) == -1) _selected_ids.push(_ids_ar[_i]);
        				}
            	} else {
            		_selected_ids = _ids_ar;
        				for(var _i = 0; _i < _preselected_ids.length; _i++) {
        					if($.inArray(_preselected_ids[_i], _ids_ar) == -1) _selected_ids.push(_preselected_ids[_i]);
        				}            		
            	}            	            	
							$(total_sel).text(_selected_ids.length);
							var _scheme_id = $(_this).attr('id').match(/\d+$/)[0];
							//console.log('scheme id: '+_scheme_id);//-tmp
							//console.log('sel ids: '+_selected_ids);//-tmp
							if(_selected_ids.length > 0) {
								$('#'+pfx+'_edit_'+_scheme_id).show();								
							} else {
								$('#'+pfx+'_edit_'+_scheme_id).hide();								
							}
							$(input_sel).val(_selected_ids.join(','));
              $(_this).overlay().close();              
            });
        	}        
    	});
    }
		
		$('a[id$="_affiliates_link"]')._make_aff_table();
		$('a[id$="_affiliates_link"]').click(function() {
			if(_loading) return;
			_loading = true;
			var pfx = $(this).attr('id').replace(/_link$/, '');
			$('input[id^="'+pfx+'_"]').each(function() {
				$(this).attr('name', $(this).attr('name').replace(/^_/, ''));
			})
			if(_loaded[pfx]) {
				$('#'+pfx+'_table').toggle();
				_loading = false;
				return;
			}
			var _pfxar = pfx.split('_');
			if(_pfxar.length == 2) {
				var _pmt = '';
				var _pmid = 0;
			} else {
				var _pmt = _pfxar[1];
				var _pmid = _pfxar[2];
			}
			var _loc = document.location.href.replace('/product/update', '/product/get_affiliates');
			if(_pmt != '') _loc += '&mod_type='+_pmt;
			if(_pmid) _loc += '&mod_id='+_pmid;
			
			$.getJSON(_loc, function(r) {
				for(var _scheme_id in r) {
					$('#'+pfx+'_'+_scheme_id).val(r[_scheme_id].join(','));					
					$('#'+pfx+'_total_'+_scheme_id).text(r[_scheme_id].length);
					$('#'+pfx+'_edit_'+_scheme_id).show();
				}
				$('a[id^="'+pfx+'_edit_"]').overlay(_ovl_params);
				$('a[id^="'+pfx+'_edit_"]').click(function() {					
					$('.overlay_close').unbind();
					$('#affiliate_dt_save_button').unbind();
					var _this = this;					
					var _scheme_id = $(this).attr('id').match(/\d+$/)[0];
					$('#affiliate_dt_save_button').val('<?php echo mta_jsstr($button_remove_selected);?>');
					_dataTable('include', '#'+pfx+'_'+_scheme_id, '#'+pfx+'_total_'+_scheme_id, pfx, _this);					
				});
				
				$('a[id^="'+pfx+'_add_"]').overlay(_ovl_params);
				$('a[id^="'+pfx+'_add_"]').click(function() {
					$('.overlay_close').unbind();
					$('#affiliate_dt_save_button').unbind();
					var _this = this;
					var _scheme_id = $(this).attr('id').match(/\d+$/)[0];
					$('#affiliate_dt_save_button').val('<?php echo mta_jsstr($button_add_selected);?>');
					_dataTable('exclude', '#'+pfx+'_'+_scheme_id, '#'+pfx+'_total_'+_scheme_id, pfx, _this);
				});
				_loaded[pfx] = true;
				$('#'+pfx+'_table').toggle();				
				_loading = false;
			});
		});			
});	

//--></script>
<?php }?>


<?php echo $footer; ?>