<section class="container-fluid footer_bg">

<aside class="container">



<!--<div id="footer">

-->  <?php if ($informations) { ?>

 <!-- <div class="column">-->

 

<aside class="span3 footerMenu">

    <h1><?php echo $text_information; ?></h1>

    <ul>

      <?php foreach ($informations as $information) { ?>

      <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>

      <?php } ?>

    </ul></aside>



  <!--</div>-->



  <?php } ?>

<!--  <div class="column">

-->   

  <aside class="span3 footerMenu">

     <h1><?php echo $text_service; ?></h1>

    <ul>

      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>

      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>

      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>

    </ul></aside>

<!--  </div>

-->  

 

<!--<div class="column">

    <h3><?php echo $text_extra; ?></h3>

    <ul>

      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>

      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>

      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>

      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>

    </ul>

  </div>-->

<!--  <div class="column">-->

  

   <aside class="span3 footerMenu">

    <h1><?php echo $text_account; ?></h1>

    <ul>

      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>

      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>

      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>

      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>

    </ul></aside>

  <!--</div>-->

 <aside class="span3 footerMenu">

<h1>Follow us On</h1>

<a href="#" class="fb"></a>

<a href="#" class="tw"></a>

<a href="#" class="gplus"></a>

<aside class="paypal">

<img src="catalog/view/theme/izistore/image/paypal.png"  alt="" title="Paypal" border="0">

<img src="catalog/view/theme/izistore/image/master.png" alt="" title="Master Card" border="0">

<img src="catalog/view/theme/izistore/image/amtex.png" alt="" title="Amex Card" border="">

<img src="catalog/view/theme/izistore/image/visa.png" alt="" title="Visa Card" border="">

</aside>

</aside>



</aside></section



><aside class="clearfix"></aside>

<section class="container-fluid footer_bot">

<aside class="container footer_txt">

<a href="http://www.smartzonewebservices.com/dev/bitmit/index.php?route=information/contact">Contact</a> -<a href="http://www.smartzonewebservices.com/dev/bitmit/index.php?route=information/information&information_id=5">
 Terms of Service </a> | 2011-2013 <a href="http://bitworldforum.biz/bitmit/">Bitworld</a>





<!--</div>

-->



<!--

OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.

Please donate via PayPal to donate@opencart.com

//-->

<!--
			<div id="powered"><?php echo $powered; ?><?php echo $ms_footer; ?></div>
			

--><!--

OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.

Please donate via PayPal to donate@opencart.com

//-->

</div>  </aside>

</section>

</article>

 ClickDesk Live Chat Service for websites<script type='text/javascript'>var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDgsSBXVzZXJzGOWb2RAM');var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' : 'http://my.clickdesk.com/clickdesk-ui/browser/');var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);</script> End of ClickDesk 


 <script type="text/javascript">
var tpj=jQuery;
// If you have any compatibility issue with other jquery scripts just comment 

//the line of code below ( EXAMPLE COMMENTED  // tpj.noConflict(); )
//tpj.noConflict();
tpj(document).ready(function()
{if(tpj.fn.cssOriginal!=undefined)tpj.fn.css = tpj.fn.cssOriginal;tpj

('.banner_main').revolution

({delay:9000,startwidth:980,startheight:370,onHoverStop:"on",thumbWidth:100,thumbHeight:50,thumbAmount:5,hideThumbs:200,navigationType:"bullet",navigationArrows:"nexttobullets",navigationStyle:"round",touchenabled:"on",navOffsetHorizontal:0,navOffsetVertical:20,stopAtSlide:-1,stopAfterLoops:-1,hideCaptionAtLimit:600,hideAllCaptionAtLilmit:500,hideSliderAtLimit:400,fullWidth:"off",shadow:3});});
</script> 



			<?php
			$time = microtime();
			$time = explode(' ', $time);
			$time = $time[1] + $time[0];
			$finish = $time;
			$start = explode(' ', $GLOBALS['start']);
			$start = $start[1] + $start[0];
			$GLOBALS['total_time'] = round(($finish - $start), 4);
			FB::log('INCREASE PAGE SPEED V3.2 BY HUNTER BUSINESS MANAGEMENT');
			FB::info('Total Database Queries : ' . $this->db->total_queries);
			FB::info('Time Spent Database Querying : ' . round($this->db->total_query_time,4) . ' seconds.');
			if ($this->db->total_slow_queries) {
				FB::error('Slow Database Queries : ' . round($this->db->total_slow_queries, 4));
			}
			FB::info('Page Generation Time : ' . $GLOBALS['total_time'] . ' seconds.');
			//FB::log($this->db->query_data);
			//FB::log('Plain Message') ::info('Info Message') ::warn('Warn Message') ::error('Error Message') ::group('Collapsed and Colored Group', array('Collapsed' => true, 'Color' => '#FF00FF'));
			?>
			
</body></html>