/*
 * FB Login and Register v1.0
 *
 * August 2013
 */
/* FB Login and Register styles */
.tipotexto{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}

.cursor{
cursor:hand;
cursor:pointer;
}

.bold{font-weight:bold}

.button-image .img{background:transparent url(../image/f.png) no-repeat -168px -27px;display:block;width:16px;height:22px;margin:7px 9px}

.sprite-button .button-text{border-top:1px solid #f7bf7a;border-bottom:1px solid #e79966;
border-left:1px solid #f89c4d;
display:inline-block;
height:34px;
color:#f8f0e5;
text-shadow:0 1px 1px #666;
text-decoration:none;
font-size:16px;padding:0 17px;line-height:34px;
background-image:-webkit-gradient(linear,left top,right bottom,color-stop(0.08,#f79424),color-stop(0.79,#f5731c));
background-image:-moz-linear-gradient(left top,#f79424 8%,#f5731c 79%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F79424',endColorstr='#F5731C',GradientType=0);
white-space:nowrap;
vertical-align:top;
text-align:center;
margin-bottom:5px
}

.facebook-button{border-left:1px solid #748eb6;border-right:1px solid #748eb6;font-weight:normal}


.facebook-button .button-image{border-top:1px solid #748eb6;border-bottom:1px solid #748eb6;border-right:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.08,#748eb6),color-stop(0.79,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 8%,#4b6294 79%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-button .button-text{border-top:1px solid #748eb6;border-bottom:1px solid #748eb6;border-left:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.08,#748eb6),color-stop(0.79,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 8%,#4b6294 79%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-button:hover .button-text{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.11,#748eb6),color-stop(0.66,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 11%,#4b6294 66%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-button:hover 

.button-image{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.11,#748eb6),color-stop(0.66,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 11%,#4b6294 66%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-button:active .button-text{border-left:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.15,#748eb6),color-stop(0.85,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 15%,#4b6294 85%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-button:active .button-image{border-right:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.15,#748eb6),color-stop(0.85,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 15%,#4b6294 85%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-login{border-top: 0px solid #03477B;border-left: 0px solid #03477B;border-right: 0 px solid #03477B;border-bottom: 0px solid #00386A;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:inherit;-webkit-box-shadow:inherit;box-shadow:inherit;line-height:49px;height:49px;width: 320px;overflow:hidden}

.facebook-login .button-image{border-top:1px solid #7b9dbd;border-bottom:1px solid #4575a4;border-right:1px solid #4575a4;-webkit-border-radius:6px 0 0 6px;-moz-border-radius:6px 0 0 6px;border-radius:6px 0 0 6px;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.08,#5f8db9),color-stop(0.79,#29547b));background-image:-moz-linear-gradient(center top,#5f8db9 8%,#29547b 79%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F8DB9',endColorstr='#29547B',GradientType=0);line-height:49px;height:49px;width:49px;float:left}

.facebook-login .button-image .img{background:transparent url(../image/f.png) no-repeat -243px -404px;margin:5px 0 0 12px;width:26px;height:43px}

.facebook-login .button-text{border-top:1px solid #7b9dbd;border-bottom:1px solid #4575a4;border-left:1px solid #4575a4;-webkit-border-radius:0 6px 6px 0;-moz-border-radius:0 6px 6px 0;border-radius:0 6px 6px 0;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.08,#5f8db9),color-stop(0.79,#29547b));background-image:-moz-linear-gradient(center top,#5f8db9 8%,#29547b 79%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F8DB9',endColorstr='#29547B',GradientType=0);padding:0 25px;line-height:49px;height:49px;color:#FFF;font-size:19px;text-shadow:0 0 8px #efefef;font-weight:normal}

.facebook-login .button-text .bold{line-height:48px}

.facebook-login:hover .button-text{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.11,#748eb6),color-stop(0.66,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 11%,#4b6294 66%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-login:hover .button-image{background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.11,#748eb6),color-stop(0.66,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 11%,#4b6294 66%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-login:active .button-text{border-left:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.15,#748eb6),color-stop(0.85,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 15%,#4b6294 85%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-login:active .button-image{border-right:1px solid #748eb6;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.15,#748eb6),color-stop(0.85,#4b6294));background-image:-moz-linear-gradient(center top,#748eb6 15%,#4b6294 85%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#748EB6',endColorstr='#4B6294',GradientType=0)}

.facebook-login.noimage .button-text{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}