@font-face {
	font-family: 'ringbearermedium';
	src: url('../cufon/ringm__-webfont.eot');
	src: url('../cufon/ringm__-webfont.eot?#iefix') format('embedded-opentype'), url('../cufon/ringm__-webfont.woff#') format('woff'),  url('../cufon/ringm__-webfont.ttf') format('truetype'),  url('../cufon/ringm__-webfont.svg#font') format('svg');/*font-weight:normal;*/	 

}
body{font-family:'ringbearermedium' !important;}



.goog-te-banner-frame {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #6B90DA;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 0 8px 1px #999999;
    height: 39px;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000001;
}
.goog-te-menu-frame {
    border: medium none;
    box-shadow: 0 3px 8px 2px #999999;
    position: fixed;
    z-index: 10000002;
}
.goog-te-ftab-frame {
    border: medium none;
    margin: 0;
    z-index: 10000000;
}
.goog-te-gadget {
    color: #666666;
    
    font-size: 11px;
    white-space: nowrap;
}
.goog-te-gadget img {
    border: medium none;
    vertical-align: middle;
}
.goog-te-gadget-simple {
    background-color: #2f2f2f !important; background: #2f2f2f !important;
    border-color: #ccc #ccc #ccc !important;
    border-left: 1px solid #D5D5D5;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    padding-bottom: 2px;
    padding-top: 1px;
}   
.goog-te-gadget-icon {
    border: medium none;
    height: 19px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    width: 19px;
}
.goog-te-combo {
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: baseline;
}
.goog-te-gadget .goog-te-combo {
    margin: 4px 0;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.goog-te-banner .goog-logo-link, .goog-close-link {
    display: block;
    margin: 0 10px;
}
.goog-te-banner .goog-logo-link {
    padding-left: 4px;
    padding-top: 2px;
}
.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, 
 *, .goog-te-balloon * {
    
    font-size: 10pt;
}
.goog-te-banner {
    background-color: #E4EFFB;
    margin: 0;
    overflow: hidden;
}
.goog-te-banner img {
    border: medium none;
}
.goog-te-banner-content {
    color: #000000;
}
.goog-te-banner-content img {
    vertical-align: middle;
}
.goog-te-banner-info {
    color: #666666;
    font-size: 7pt;
    margin-top: 0;
    vertical-align: top;
}
.goog-te-banner-margin {
    width: 8px;
}
.goog-te-button {
    border-color: #E7E7E7;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
}
.goog-te-button div {
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    height: 20px;
}
.goog-te-button button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 20px;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
}
.goog-te-button button:active {
    background: none repeat scroll 0 0 #CCCCCC;
}
.goog-te-ftab {
    background-color: #FFFFFF;
    margin: 0;
    white-space: nowrap;
}
.goog-te-ftab-link {
    border: 1px outset #888888;
    font-size: 10pt;
    font-weight: bold;
    left: 0;
    padding: 6px 10px;
    position: absolute;
    text-decoration: none;
    top: 0;
    white-space: nowrap;
}
.goog-te-ftab-link img {
    border: medium none;
    height: 19px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    width: 19px;
}
.goog-te-ftab-link span {
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: underline;
    vertical-align: middle;
}
.goog-float-top .goog-te-ftab-link {
    border-top-width: 0;
    padding: 2px;
}
.goog-float-bottom .goog-te-ftab-link {
    border-bottom-width: 0;
    padding: 2px;
}
.goog-te-menu-value {
    color: #0000CC;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
    white-space: nowrap;
}
.goog-te-menu-value span {
    text-decoration: underline;
}
.goog-te-menu-value img {
    margin-left: 2px;
    margin-right: 2px;
}
.goog-te-gadget-simple .goog-te-menu-value {
    color: #ccc !important;
}
.goog-te-gadget-simple .goog-te-menu-value span {   
    text-decoration: none;
}
.goog-te-menu {
    background-color: #000 !important;
    border: 2px solid #C3D9FF;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    text-decoration: none;
    top: 0;
}
.goog-te-menu-item {
    padding: 3px;
    text-decoration: none;
}
.goog-te-menu-item, .goog-te-menu-item:link {
    background:#FFFFFF;
    color: #0000CC;
}
.goog-te-menu-item:visited {
    color: #551A8B;
}
.goog-te-menu-item:hover {
    background: #C3D9FF;
}
.goog-te-menu-item:active {
    color: #0000CC;
}
.goog-te-menu2 {   background: #000 !important;
    background-color: #000 !important;
    border: 1px solid #ccc !important;
    overflow: hidden;
    padding: 4px;
    text-decoration: none;
}


.goog-te-menu2-colpad {
    width: 16px;
}
.goog-te-menu2-separator {
    background-color: #AAAAAA;
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
}
.goog-te-menu2-item div, .goog-te-menu2-item-selected div {
    padding: 4px;
}
.goog-te-menu2-item .indicator {
    display: none;
}
.goog-te-menu2-item-selected .indicator {
}
.goog-te-menu2-item-selected .text {
    padding-left: 4px;
    padding-right: 4px;
}
.goog-te-menu2-item, .goog-te-menu2-item-selected {
    text-decoration: none;
}

.goog-te-menu2-item div *{
    background: #000 !important;  background-color: #000 !important;
    color: #0000CC;
}
.goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div {
    background: #000 !important;  background-color: #000 !important;
    color: #0000CC;
}
.goog-te-menu2-item:hover div {
    background: #E99601 !important;
    color: #FFFFFF;
}
.goog-te-menu2-item-selected div, .goog-te-menu2-item-selected:link div, .goog-te-menu2-item-selected:visited div, .goog-te-menu2-item-selected:hover div, .goog-te-menu2-item-selected:active div {
    color: #000000;
    font-weight: bold;
}
.goog-te-balloon {
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: 8px;
}
.goog-te-balloon-frame {
    background: #000 !important;
    border: 1px solid #6B90DA;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 3px 8px 2px #999999;
}
.goog-te-balloon img {
    border: medium none;
}
.goog-te-balloon-text {
    margin-top: 6px;
}
.goog-te-balloon-zippy {
    margin-top: 6px;
    white-space: nowrap;
}
.goog-te-balloon-zippy * {
    vertical-align: middle;
}
.goog-te-balloon-zippy .minus {
    background-image: url("//www.google.com/images/zippy_minus_sm.gif");
}
.goog-te-balloon-zippy .plus {
    background-image: url("//www.google.com/images/zippy_plus_sm.gif");
}
.goog-te-balloon-zippy span {
    color: #0000CC;
    cursor: pointer;
    margin: 0 4px;
    text-decoration: underline;
}
.goog-te-balloon-form {
    margin: 6px 0 0;
}
.goog-te-balloon-form form {
    margin: 0;
}
.goog-te-balloon-form form textarea {
    margin-bottom: 4px;
    width: 100%;
}
.goog-te-balloon-footer {
    margin: 6px 0 4px;
}
#goog-gt-tt html, #goog-gt-tt body, #goog-gt-tt div, #goog-gt-tt span, #goog-gt-tt iframe, #goog-gt-tt h1, #goog-gt-tt h2, #goog-gt-tt h3, #goog-gt-tt h4, #goog-gt-tt h5, #goog-gt-tt h6, #goog-gt-tt p, #goog-gt-tt a, #goog-gt-tt img, #goog-gt-tt ol, #goog-gt-tt ul, #goog-gt-tt li, #goog-gt-tt table, #goog-gt-tt form, #goog-gt-tt tbody, #goog-gt-tt tr, #goog-gt-tt td {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    border: 0 none;
    font-family: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
}
#goog-gt-tt ol, #goog-gt-tt ul {
    list-style: none outside none;
}
#goog-gt-tt table {
    border-collapse: collapse;
    border-spacing: 0;
}
#goog-gt-tt caption, #goog-gt-tt th, #goog-gt-tt td {
    font-weight: normal;
    text-align: left;
}
#goog-gt-tt input::-moz-focus-inner {
    border: 0 none;
}
div#goog-gt-tt {
    padding: 10px 14px;
}
#goog-gt-tt {
    background: #000 !important;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    color: #222222;
    display: none;
    font-family: arial;
    font-size: 10pt;
    padding: 12px;
    position: absolute;
    width: 420px;
    z-index: 10000;
}
#goog-gt-tt .original-text, .gt-hl-layer {
    clear: both;
    font-size: 10pt;
    position: relative;
    text-align: justify;
    width: 100%;
}
#goog-gt-tt .title {
    color: #999999;
   
    margin: 4px 0;
    text-align: left;
}
#goog-gt-tt .close-button {
    display: none;
}
#goog-gt-tt .logo {
    float: left;
    margin: 0;
}
#goog-gt-tt .activity-links {
    display: inline-block;
}
#goog-gt-tt .started-activity-container {
    display: none;
    width: 100%;
}
#goog-gt-tt .activity-root {
    margin-top: 20px;
}
#goog-gt-tt .left {
    float: left;
}
#goog-gt-tt .right {
    float: right;
}
#goog-gt-tt .bottom {
    height: 1%;
    min-height: 15px;
    position: relative;
}
#goog-gt-tt .status-message {
    background:#29910D;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px #1E6609 inset;
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bolder;
    margin-top: 12px;
    padding: 6px;
    text-shadow: 1px 1px 1px #1E6609;
}
#goog-gt-tt .activity-link {
    color: #1155CC;
    cursor: pointer;
    font-family: arial;
    font-size: 11px;
    margin-right: 15px;
    text-decoration: none;
}
#goog-gt-tt textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: silver #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    font-family: arial;
    font-size: 13px;
    height: auto;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 1px;
    resize: vertical;
    width: 100%;
}
#goog-gt-tt textarea:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
#goog-gt-tt .activity-cancel {
    margin-right: 10px;
}
#goog-gt-tt .translate-form {
    min-height: 25px;
    padding-top: 8px;
    vertical-align: middle;
}
#goog-gt-tt .translate-form .activity-form {
    margin-bottom: 0;
}
#goog-gt-tt .translate-form .activity-form input {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #444444;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: 0 16px 0 0;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    transition: all 0.218s ease 0s;
    vertical-align: middle;
}
#goog-gt-tt .translate-form .activity-form input:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #222222;
    transition: all 0s ease 0s;
}
#goog-gt-tt .translate-form .activity-form input:active {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6, #F1F1F1);
    border: 1px solid #C6C6C6;
    color: #333333;
}
#goog-gt-tt .translate-form .activity-form input:focus, #goog-gt-tt .translate-form .activity-form input.focus {
    border: 1px solid #4D90FE;
    outline: medium none;
    z-index: 4 !important;
}
#goog-gt-tt .translate-form .activity-form input.selected {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #E0E0E0);
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
}
#goog-gt-tt .translate-form .activity-form input.activity-submit {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border-color: #3079ED;
    color: #FFFFFF;
}
#goog-gt-tt .translate-form .activity-form input.activity-submit:hover #goog-gt-tt .translate-form .activity-form input.activity-submit:focus, #goog-gt-tt .translate-form .activity-form input.activity-submit.focus #goog-gt-tt .translate-form .activity-form input.activity-submit:active {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border-color: #3079ED;
}
#goog-gt-tt .translate-form .activity-form input.activity-submit:hover {
    box-shadow: 0 0 0 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
#goog-gt-tt .translate-form .activity-form input:focus, #goog-gt-tt .translate-form .activity-form input.focus, #goog-gt-tt .translate-form .activity-form input:active, #goog-gt-tt .translate-form .activity-form input:hover, #goog-gt-tt .translate-form .activity-form input.activity-submit:focus, #goog-gt-tt .translate-form .activity-form input.activity-submit.focus, #goog-gt-tt .translate-form .activity-form input.activity-submit:active, #goog-gt-tt .translate-form .activity-form input.activity-submit:hover {
    border-color: #3079ED;
}
#goog-gt-tt .gray {
    color: #999999;
    font-family: arial,sans-serif;
}
#goog-gt-tt .alt-helper-text {
    color: #999999;
    font-family: arial,sans-serif;
    font-size: 11px;
    margin: 15px 0 5px;
}
#goog-gt-tt .alt-error-text {
    color: #880000;
    display: none;
    font-size: 9pt;
}
.goog-text-highlight {
    -moz-box-sizing: border-box;
    background-color: #C9D7F1;
    box-shadow: 2px 2px 4px #9999AA;
    position: relative;
}
#goog-gt-tt .alt-menu.goog-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px #9999AA;
    min-width: 0;
    outline: medium none;
    padding: 0;
    position: absolute;
    z-index: 2000;
}
#goog-gt-tt .alt-menu .goog-menuitem {
    border-style: none;
    cursor: pointer;
    margin-right: 0;
    padding: 2px 5px 5px;
}
#goog-gt-tt .alt-menu div.goog-menuitem:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
#goog-gt-tt .alt-menu .goog-menuitem h1 {
    font-size: 100%;
    font-weight: bold;
    margin: 4px 0;
}
#goog-gt-tt .alt-menu .goog-menuitem strong {
    color: #345AAD;
}
#goog-gt-tt .goog-submenu-arrow {
    left: auto;
    position: absolute;
    right: 0;
    text-align: right;
}
#goog-gt-tt .goog-menuitem-rtl .goog-submenu-arrow {
    left: 0;
    position: absolute;
    right: auto;
    text-align: left;
}
#goog-gt-tt .gt-hl-text, #goog-gt-tt .trans-target-highlight {
    -moz-box-sizing: border-box;
    background-color: #F1EA00;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    color: #F1EA00;
    cursor: pointer;
    margin: -2px -2px -2px -3px;
    padding: 2px 2px 2px 3px;
    position: relative;
}
#goog-gt-tt .trans-target-highlight {
    color: #222222;
}
#goog-gt-tt .gt-hl-layer {
    color: #FFFFFF;
    position: absolute !important;
}
#goog-gt-tt .gt-trans-draggable, #goog-gt-tt .trans-target .gt-trans-draggable {
    cursor: move;
}
#goog-gt-tt .trans-target, #goog-gt-tt .trans-target .trans-target-highlight {
    -moz-box-sizing: border-box;
    background-color: #C9D7F1;
    border-radius: 4px 4px 0 0;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: -2px -2px -2px -3px;
    padding: 2px 2px 3px 3px;
    position: relative;
}
#goog-gt-tt span:focus {
    outline: medium none;
}
#goog-gt-tt .trans-edit {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #4D90FE;
    border-radius: 0 0 0 0;
    margin: -2px;
    padding: 1px;
}
.trans-target-dragger {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    font-family: arial;
    font-size: 10pt;
    opacity: 0.6;
    padding: 1px 0;
    z-index: 20000;
}
#goog-gt-tt .trans-target-currdragitem {
    background-color: rgba(0, 0, 0, 0);
    color: #CCCCCC;
}
#goog-gt-tt .gt-trans-highlight-l {
    border-left: 2px solid red;
    margin-left: -2px;
}
#goog-gt-tt .gt-trans-highlight-r {
    border-right: 2px solid red;
    margin-right: -2px;
}
#goog-gt-tt #alt-input {
    padding: 2px;
}
#goog-gt-tt #alt-input-text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: inline-block;
    font-size: 11px;
    height: 21px;
    margin: 0;
    padding: 2px 2px 3px;
    vertical-align: top;
}
#goog-gt-tt #alt-input-text:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#goog-gt-tt #alt-input-text:focus {
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}
#goog-gt-tt #alt-input-submit {
    font-size: 11px;
    height: 21px;
    margin: 0 0 0 2px;
    padding: 2px 6px 3px;
}
