@font-face {
	font-family: 'ringbearermedium';
	src: url('../cufon/ringm__-webfont.eot');
	src: url('../cufon/ringm__-webfont.eot?#iefix') format('embedded-opentype'), url('../cufon/ringm__-webfont.woff#') format('woff'),  url('../cufon/ringm__-webfont.ttf') format('truetype'),  url('../cufon/ringm__-webfont.svg#font') format('svg');/*font-weight:normal;*/	 

}

body{ font-family:'ringbearermedium !important'; color:#666666;}

.top_bg{ background:#2e3854 url(../image/top_bg.jpg) repeat-x;}



.floatRight{ float:right;}



.floatLeft{ float:left;}



.datemenu{ color:#7a9999;}



.datemenu a{ color:#ccc; text-decoration:none; font-size:12px; padding:2px 2px 0 2px;}



.datemenu a:hover{ color:#F07800;  text-decoration: underline;}



.flag{ cursor:pointer; padding:0 5px; width:16px; float:left;}



.login{ color:#EEC975;}



.login a{ color:#C78A3F; text-decoration:none; font-size:12px; padding:2px 2px 0 2px;}



.login a:hover{ color:#fff;  text-decoration: underline;}



.logo{cursor:pointer; outline:none; border:none;margin-top:21px; margin-left:0; margin-bottom:3px;}



.srbtn{ background: url(../image/search.png) no-repeat left top; height:40px;

    margin-left: -7px;

    margin-top: -11px;

    outline:none;

    width: 36px; width:36px; border:none;}



.srbtn{ background-position:left bottom;}



.inputSr{ max-width:300px; height:35px; border:none; outline:none; width:223px;}



.margintop42{ margin-top:42px;}



.shop{color:#C78A3F; float: right; padding:8px; text-align:center;}     
.shop a{color:#C78A3F; text-decoration: none; font-size:12px; /*background: url(../image/arr.png) no-repeat right 5px;*/ padding: 0 5px;}
.shop a:hover{color:#C78A3F; text-decoration: underline; font-size:12px;}



.topmenu{ margin:12px 0 0px 0; float:right;}



.topmenu ul{ margin:0 0 8px 4px; float:right;}



.topmenu ul li{ padding:0 0; display:inline; margin-left:24px;/*float:left;*/}



.topmenu ul li a{ padding:0 0px; color:#C78A3F; text-decoration:none;}   



.topmenu ul li a:hover{ padding:0 0px; color:#f07800; text-decoration: underline;}



.ph {

    float: left;

    height: 35px;

}

.ph_icon {

    float: left;

    height: auto;

    width: 21px; margin:0;

}

.ph_txt {

    color: #EEC975;

    float: left;
  font-size:18px;

    height: auto;

}

.email {

    float: left;

    height: auto;

    max-width: 142px; margin-top:4px;

}

.email_icon {

    float: left;

    height: 14px;

    width: 21px; margin:0;

}

.email_txt {

    color: #c0d1ff;

    float: left;

    font-size: 12px;

    height: auto;

    margin:1px 24px 0 4px;

    max-width:83px;

}

.email_txt a {

    color:#C78A3F;

    font-size: 12px;

    text-decoration: none;

}

.email_txt a:hover {

   color: #f07800;

   font-size: 12px;

   text-decoration: underline;

}

.banbg{ background:url(../image/ban_bg.jpg) repeat-x;}


.itemLister { color:#999;

    border: 1px solid #DCDCDC;

    padding: 8px; margin-left:0 !important;

    vertical-align: top;

	  border-top-left-radius:10px; border-top-right-radius:10px;

    -web-border-top-left-radius:10px; -o-border-top-right-radius:10px; -moz-border-top-right-radius:10px; -khtml-border-top-right-radius:10px;

	-o-border-top-left-radius:10px; -moz-border-top-left-radius:10px; -khtml-border-top-left-radius:10px;

       border-top-left-radius:10px;border-top-right-radius:10px;

	   border-bottom-left-radius:10px; border-bottom-right-radius:10px;

    -web-border-bottom-left-radius:10px; -o-border-bottom-right-radius:10px; -moz-border-bottom-right-radius:10px; -khtml-border-bottom-right-radius:10px;

	-o-border-bottom-left-radius:10px; -moz-border-bottom-left-radius:10px; -khtml-border-bottom-left-radius:10px;

       border-bottom-left-radius:10px;border-bottom-right-radius:10px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccdd2', endColorstr='#bfbfc6', GradientType=0);text-align:center;  *zoom: 1;

}


.itemLister a{ text-decoration:none; color:#000; font-size:13px; text-align:center;}



.itemLister a:hover{ text-decoration: underline; color:#000; font-size:13px;}



.itemLister img{ padding:10px;}



.darkBlue{ color:#03267e;}



.btn{   background-color: #eb7600;

/*  border: 1px solid #ddd;

*/  border-bottom-color: transparent;

  background-image: -moz-linear-gradient(top, #eb7600, #c66504);

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb7600), to(#c66504));

  background-image: -webkit-linear-gradient(top, #eb7600, #c66504);

  background-image: -o-linear-gradient(top, #eb7600, #c66504);

  background-image: linear-gradient(to bottom, #eb7600, #c66504);

  background-repeat: repeat-x;

  -webkit-border-radius: 4px;

     -moz-border-radius: 4px;

          border-radius: 4px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7600', endColorstr='#c66504', GradientType=0);

  *zoom: 1;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

		  padding:10px 10px;		  

		  }

.marginLeft{ margin-left:20px !important; margin-bottom:12px;}

.footer_bg{ background:#011039 url(../image/footer_bg.jpg) repeat-x;}

.footerMenu{color:#789bf6; margin:22px 0 0 0;}


.footerMenu h1{ font-size:16px; text-transform:uppercase; line-height:18px;}


.footerMenu ul{ width:100%; margin:0; padding:0; }


.footerMenu ul li{ list-style:none; display:block; /*background:url(../image/dot.png) no-repeat left 56%;*/ padding:6px 13px;}


.footerMenu ul li a{ text-decoration:none; color:#B1BDDB; font-size:12px;}



.footerMenu ul li a:hover{ text-decoration:underline; color:#fff; font-size:12px;}



.fb{ background:url(../image/fb.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px; margin-top:10px;}



.fb:hover{ background-position:left bottom;}



.tw{ background:url(../image/tw.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px; margin-top:10px;}



.tw:hover{ background-position:left bottom;}



.gplus{ background:url(../image/gplus.png) no-repeat left top; width:31px; height:10px; float:left; padding:10px; margin-top:10px;}



.gplus:hover{ background-position:left bottom;}



.paypal{ width:auto; float:left; cursor: pointer; margin:15px 0 0 0;}



.footer_bot{ background:#000;
 *zoom: 1;      
  background-color: #0f0d02;
  *background-color: #0f0d02;
  background-image: -moz-linear-gradient(top, #0f0d02, #2e3854);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f0d02), to(#2e3854));
  background-image: -webkit-linear-gradient(top, #0f0d02, #2e3854);
  background-image: -o-linear-gradient(top, #0f0d02, #2e3854);
  background-image: linear-gradient(to bottom, #0f0d02, #2e3854);
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0d02', endColorstr='#2e3854', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); 
  border-top:1px solid #0F0D02;




 }



.footer_txt{ color:#F07800; font-size:14px; text-decoration:none; text-align:center; padding:7px;}



.footer_txt a{ color:#F07800; font-size:14px; text-decoration:none;}



.footer_txt a:hover{ color:#a0a0a0; font-size:14px; text-decoration:underline;}

.footertop{ margin-top:20px;}

.marginLeft{ margin-left:0 !important;}

.margin15{ margin-top:15px;}

.name{text-align:center;}

.price{text-align:center;}

.image a img{/*width:50%; margin:5% 20%;*/}

.cart input.button, input.button{ margin:0 0 0 20px !important;}

.fb_iframe_widget{ left:264px !important;}
#header {
   
    margin-bottom: 7px;
    padding-bottom: 4px;
    position: relative;
    z-index: 99;
}

span .links a{ float:right; display:inline;}

 #cart {
   /* min-width: 300px;
   
    right: 145px;*/
    top: 0;
    z-index: 999; position: absolute;
}

 #cart .heading {
   /* background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #FFFFFF;
   
   
    margin-top: 15px; 
    padding-left: 14px;
    padding-right: 14px; margin-right: 238px;
*/
    position: relative; z-index: 1; float: left;
}


 #cart .heading h4 {
    color: #C78A3F;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
}
 #cart .heading a {
    color:#C78A3F;
    text-decoration: none;
}


 #cart .heading a span {
    background: url("../image/arrow-down.png") no-repeat scroll 100% 50%;
    padding-right: 15px;
}


 #cart .heading a span {
    background: url("../image/arrow-down.png") no-repeat scroll 100% 50%;
    padding-right: 15px;
}

 #cart .empty {
    padding-top: 50px;
    text-align: center;
}

 #cart .content {
    background: #FFFFFF;
    border-color: #EEEEEE;
    border-radius: 0 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px #DDDDDD;
    clear: both;
    display: none;
    min-height: 150px;
    padding: 8px;
    position: relative;
    top: -1px;
}
 #cart.active .heading {
    border-left: 1px solid #EEEEEE;
    border-radius: 7px 7px 0 0;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    /*margin-top: 5px;
    padding-bottom: 6px;
    padding-top: 10px;
*/}
 #cart.active .content {
    display: block;
}
.mini-cart-info table {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
}



#cart .content {
    background:#2E3854;    
    border-radius: 0 7px 7px 7px;
    border-style: solid;    
    box-shadow: 0 2px 2px #DDDDDD;
    clear: both;
    display: none;
    height: auto;
    padding: 8px;
    position: relative;
    top: -1px;
}





.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #C78A3F;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #666;
}
.mini-cart-info .image {
	width:50px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #C78A3F;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {

	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}

.checkout ul li { /*float:left;*/}

#nav li {
	float: left;
	position: relative; color:#E99601;
}
#nav li a {
	/*background: #1E2437 !important;*/
	/*border: 3px solid #4f4026;*/
	color:#C78A3F;
	display: block;
	margin: 0 5px 0 0;
	padding: 5px 8px;
}
#nav li a:hover {
	background: #1E2437;
	text-decoration: none;
}

/* Targeting the first level menu */
#nav {
	display: block;
	/*height: 35px;
	padding: 10px 0;
	width: 500px;*/
	z-index: 100;
	position: absolute; top:0;
}
#nav > li > a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

/* Targeting the second level menu */
#nav li ul {
background: #1E2437 !important;
border: 3px solid #4f4026;
color: #333;
display: none;
margin: 6px 0 0 -30px;
width: 150px;
position: absolute;
border-radius: 16px;
}
#nav li ul li {
	width: 100%
}
#nav li ul li a {
	background: none;
	border: none;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 5px;
}
#nav li ul li a:hover {
	background: #1E2437;color: #fff;
}

/* Third level menu */
#nav li ul li ul{
	right: -200px; top: 0;
}

/* A class of current will be added via jQuery */
#nav li.current > a {
	background: #f7f7f7;
}
/* CSS fallback */
#nav li:hover > ul.child {
	display: block;
}
#nav li:hover > ul.grandchild  { 
	display: block; 
}







