<section class="container-fluid footer_bg">

<aside class="container footertop">



<!--<div id="footer">

-->  <?php if ($informations) { ?>

 <!-- <div class="column">-->

 

<aside class="span2 footerMenu">

    <h1><?php echo $text_information; ?></h1>

    <ul>

      <?php foreach ($informations as $information) { ?>

      <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>

      <?php } ?>

    </ul></aside>



  <!--</div>-->



  <?php } ?>

<!--  <div class="column">

-->   

  <aside class="span3 footerMenu">

     <h1><?php echo $text_service; ?></h1>

    <ul>

      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>

      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>

      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>

    </ul></aside>

<!--  </div>

-->  

 

<!--<div class="column">

    <h3><?php echo $text_extra; ?></h3>

    <ul>

      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>

      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>

      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>

      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>

    </ul>

  </div>-->

<!--  <div class="column">-->

  

   <aside class="span3 footerMenu">

    <h1><?php echo $text_account; ?></h1>

    <ul>

      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>

      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>

      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>

      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>

    </ul></aside>

  <!--</div>-->

 <aside class="span3 footerMenu">

<h1>Follow us On</h1>

<a href="#" class="fb"></a>

<a href="#" class="tw"></a>

<a href="#" class="gplus"></a>

<aside class="paypal">

<img src="../../image/paypal.png"  alt="" title="Paypal" border="0">

<img src="../../image/master.png" alt="" title="Master Card" border="0">

<img src="../../image/amtex.png" alt="" title="Amex Card" border="">

<img src="../../image/visa.png" alt="" title="Visa Card" border="">

</aside>

</aside>



</aside></section



><aside class="clearfix"></aside>

<section class="container-fluid footer_bot">

<aside class="container footer_txt">

<a href="#">Contact</a> -<a href="#"> Terms of Service </a> | &copy; 2011-2013 <a href="#">Bitmit.net</a>





<!--</div>

-->



<!--

OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.

Please donate via PayPal to donate@opencart.com

//-->

<!--<div id="powered"><?php echo $powered; ?></div>

--><!--

OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.

Please donate via PayPal to donate@opencart.com

//-->

</div>  </aside>

</section>

</article></body></html>