<?php echo $header; ?>
<?php echo $column_right; ?>

<div id="content marginLeft"><?php echo $content_top; ?><?php echo $column_left; ?>

<h1 style="display: none;"><?php echo $heading_title; ?></h1>

<?php echo $content_bottom; ?>
</div>

<?php echo $footer; ?>