<div id="cart">
<div class="heading">
 <h4><?php echo $heading_title; ?><!--<a href="javascript:void(0);" class="closeCart">x</a>--></h4>
    <a><span id="cart-total"><?php echo $text_items; ?></span></a></div>

  

  <div class="content">

   

    <?php if ($products || $vouchers) { ?>

    <div class="mini-cart-info">

      <table>

        <?php foreach ($products as $product) { ?>

        <tr>

          <td class="image"><?php if ($product['thumb']) { ?>

            <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>

            <?php } ?></td>

          <td class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>

            <div>

              <?php foreach ($product['option'] as $option) { ?>- <small><?php echo $option['name']; ?> <?php echo $option['value']; ?></small><?php } ?>

            </div></td>

          <td class="quantity">x&nbsp;<?php echo $product['quantity']; ?></td>

          <td class="total"><?php echo $product['total']; ?></td>

          <td class="remove"><img src="catalog/view/theme/izistore/image/miniRemove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" onclick="$('#cart').load('index.php?route=module/cart&remove=<?php echo $product['key']; ?> #cart > *');" /></td>

        </tr>

        <?php } ?>

        <?php foreach ($vouchers as $voucher) { ?>

        <tr>

          <td class="image" text-align="center"></td>

          <td class="name"><?php echo $voucher['description']; ?></td>

          <td class="quantity">x&nbsp;1</td>

          <td class="total"><?php echo $voucher['amount']; ?></td>

          <td class="remove"><img src="catalog/view/theme/izistore/image/miniRemove.jpg" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" onclick="$('#cart').load('index.php?route=module/cart&remove=<?php echo $voucher['key']; ?> #cart > *');" /></td>

        </tr>

        <?php } ?>

      </table>

    </div>

    <div class="mini-cart-total">

      <table>

        <?php foreach ($totals as $total) { ?>

        <tr>

          <td align="right" class="tdLeft"><?php echo $total['title']; ?>:</td>

          <td align="right" class="tdRight"><?php echo $total['text']; ?></td>

        </tr>

        <?php } ?>

      </table>

    </div>

    <div class="checkout">

    	<ul>

        	<li><a href="<?php echo $cart; ?>" class="viewBtn"><?php echo $text_cart; ?></a></li>

            <li class="or">or</li>

        	<li><a href="<?php echo $checkout; ?>" class="checkoutBtn"><?php echo $text_checkout; ?></a></li>

   		</ul>

    </div>

    <?php } else { ?>

    <div class="empty"><?php echo $text_empty; ?></div>

    <?php } ?>

  </div>

  
</div>

